<template>
  <div class="c-default-header">
    <h1 class="c-default-header__title">
      {{ title }}
    </h1>
    <div class="c-default-header__datepicker">
      <template v-if="is_invoice">
        <span class="c-default-header-default-date">{{ invoice_month }}</span>
      </template>
      <template v-else>
        <date-picker class="date-pick__header" :lang="lang" @change="updateDate" v-model="choiceMonth" type="month" placeholder="Kies maand"></date-picker>
      </template>
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 2C15.552 2 16 2.448 16 3V15C16 15.552 15.552 16 15 16H1C0.448 16 0 15.552 0 15V3C0 2.448 0.448 2 1 2H3V0H6V2H10V0H13V2H15ZM14 14V5H2V14H14ZM4 7H6V9H4V7ZM7 7H9V9H7V7Z" fill="#91A5B3"/>
      </svg>
    </div>
  </div>
</template>

<script>
  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
  import {mapGetters} from "vuex";
  import moment from "moment";
  import store from "../../store";

  export default {
    name: "DefaultHeader",
    components: {
      DatePicker
    },
    props: {
      component_title: {
        type: String,
      },
      is_invoice: Boolean,
      invoice_date: String,
    },
    data() {
      return {
        date: new Date(),
        choiceMonth: moment().format('YYYY-MM'),
        lang: {
          formatLocale: {
            months: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December'],
            monthsShort: ['JAN', 'FEB', 'MAA', 'APR', 'MEI', 'JUN', 'JUL', 'AUG', 'SEP', 'OKT', 'NOV', 'DEC']
          }
        }
      }
    },
    methods: {
      updateDate() {
        if(this.$route.name === 'Analytics') {
          this.$store.dispatch('manager/update_analytics',
            {start_date: this.start_date, end_date: this.end_date})
        } else {
          this.$store.dispatch('manager/update_date',
            { id: this.$route.params.id,
              date: {start_date: this.start_date, end_date: this.end_date} })
          this.$store.dispatch('worker/get_dashboard_data_by_date',
            { id: this.$route.params.id,
              date: {start_date: this.start_date, end_date: this.end_date} })
        }

      }
    },
    computed: {
      ...mapGetters('user', ['user_role', 'user_companies']),
      start_date() {
        return moment(this.choiceMonth).startOf('month').format('YYYY-MM-DD')
      },
      end_date() {
        return moment(this.choiceMonth).endOf('month').format('YYYY-MM-DD')
      },
      invoice_month() {
        if(!this.invoice_date) {
          const added_amount = store.getters['user/user_role'] ? 14 : 1;
          const added_type = store.getters['user/user_role'] ? 'days' : 'M';
          const current = moment().startOf('month').format('DD/MM/YY')
          const next = moment(current, 'DD/MM/YY').add(added_amount, added_type)
          return `${current} - ${next.format('DD/MM/YY')}`
        } else {
          return this.invoice_date
        }
      },
      title() {
        const { params: { id }, name } = this.$route;
        if(name === 'WorkerDashboard' || name === 'ManagerDashboard') {
          if(!id && name === 'WorkerDashboard') return 'Samenvatting'
          const company = this.user_companies.filter(el => el.id === id)[0];
          if(this.role && company) {
            return `Samenvatting: ${company.name}`
          }
          return company.name
        }
        return this.component_title
      },
      role() {
        return this.user_role == 'worker'
      }
    },
  }
</script>

<style lang="scss">
  .c-default-header-default-date {
    padding-left: 30px;
    @extend %roman-16;
    color: $black
  }
.c-default-header {
  @extend %df;
  @extend %jcsb;
  align-items: flex-end;
  &__title {
    @extend %h1-title;
    color: $black;
  }
  &__datepicker {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    width: 280px;
    height: 56px;
    box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.2);
    border-radius: 28px;
    /*padding-left: 30px;*/
    position: relative;
    svg {
      pointer-events: none;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
    }
  }
  &__date {
    width: 100%;
    height: 100%;
    div {
      &:first-child {
        height: 100%;
      }
    }
    input {
      @extend %input-reset;
      @extend %roman-h3;
      width: 100%;
      padding-left: 30px;
      color: $black;
      height: 100%;
    }
    .vdp-datepicker__calendar {
      transform: translate(-21px, -56px);
      border-radius: 30px;
      overflow: hidden;
      border: none;
      box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.2);
    }
    .day__month_btn {
      @extend %roman;
      font-size: rem(18);
      color: $black;
    }
    .day-header {
      @extend %roman;
      font-size: rem(10);
      color: $gray;
    }
    .day {
      @extend %roman;
      font-size: rem(10);
      color: $black;
      transition: all .5s ease;
    }
    .weekend {
      color: $blue;
    }
    .vdp-datepicker__calendar .cell.selected {
      background-color: $blue;
    }
    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover {
      border-color: $blue;
      background-color: $white;
      color: $black;
    }
    .selected {
      color: $white;
    }
  }
}
.date-pick__header {
  width: 100%;
  height: 100%;
  .mx-input-wrapper {
    height: 100%
  }
  .mx-icon-calendar {
    display: none;
  }
  .mx-input {
    padding-left: 30px;
    display: block;
    background-color: transparent;
    border-color: transparent;
    height: 100%;
    box-shadow: none;
  }
}
.mx-datepicker-popup {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.2);
  transform: translate(0, -60px);
}
.mx-calendar {
  width: 280px;
}
</style>
