<template>
  <div class="c-empty-header">
    <h2 class="c-empty-header__title">
      {{ component_title }}
    </h2>
  </div>
</template>

<script>
  export default {
    name: "EmptyHeader",
    props: {
      component_title: {
        type: String
      },
    },
  }
</script>

<style lang="scss">
.c-empty-header {
  &__title {
    @extend %h1-title;
    color: $black;
    margin-top: 27px;
  }
}
</style>