body {
    font-size: 16px;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}

.c-tooltip {
    position: fixed;
    width: max-content;
    background: #fff;
    padding: 6px 9px;
    max-width: 200px;
    z-index: 20;
    @extend %roman-12;
    color: $black;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 2px 22px rgba(51, 88, 183, 0.2);
    &::before {
        content: '';
        position: absolute;
        background: #fff;
        left: 50%;
        bottom: -4px;
        width: 7px;
        height: 7px;
        transform: rotate(45deg) translateX(-50%);
        -webkit-transform: rotate(45deg);
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: 31%;
    }
}
@media print {
    .App {
        background-color: #fff;
    }
    .navigation {
        display: none;
    }
    .main-wrap {
        margin-left: 0;
        width: 100%;
        padding: 0;
    }
    .c-default-header {
        display: none;
    }
}
