// ================ HelveticaNeueCyr-Medium ================
@include font_face(HelveticaNeueCyr-Medium, HelveticaNeueCyr-Medium);

%medium {
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}

// ################ HelveticaNeueCyr-Medium ################

// ================ HelveticaNeueCyr-Roman ================
@include font_face(HelveticaNeueCyr-Roman, HelveticaNeueCyr-Roman);

%roman {
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
}

// ################ HelveticaNeueCyr-Roman ################

%h1-title {
    @extend %medium;
    font-size: rem(36);
    line-height: rem(36);
}

%h2-title {
    @extend %medium;
    font-size: rem(24);
    line-height: rem(24);
}

%h3-title {
    @extend %medium;
    font-size: rem(18);
    line-height: rem(18);
}

%roman-h3 {
    @extend %roman;
    font-size: rem(18);
    line-height: rem(18);
}

%medium-36 {
    @extend %medium;
    font-size: rem(36);
    line-height: rem(36);
}

%medium-16 {
    @extend %medium;
    font-size: rem(16);
    line-height: rem(16);
}

%medium-18 {
    @extend %medium;
    font-size: rem(18);
    line-height: rem(18);
}

%roman-16 {
    @extend %roman;
    font-size: rem(16);
    line-height: rem(16);
}

%roman-14 {
    @extend %roman;
    font-size: rem(14);
    line-height: rem(14);
}

%roman-10 {
    @extend %roman;
    font-size: rem(10);
    line-height: rem(12);
}

%roman-12 {
    @extend %roman;
    font-size: rem(12);
    line-height: rem(14);
}

%invoice-body {
    @extend %roman;
    font-size: rem(14);
    line-height: rem(24);
}

%invoice-input-titles {
    @extend %medium;
    font-size: rem(14);
    line-height: rem(24);
}

%invoice-table {
    @extend %medium;
    font-size: rem(12);
    line-height: rem(18);
}

%invoice-table-body {
    @extend %roman;
    font-size: rem(12);
    line-height: rem(18);
}
