 .container {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
 }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

 @media (min-width: 320px) {
   .container {
     //max-width: 290px;
     padding: 0 15px;
   }
 }
 @media (min-width: 768px) {
   .container {
     max-width: 708px;
   }
 }

 @media (min-width: 1150px) {
   .container {
     max-width: 1110px;
   }
 }