<template>
  <div class="c-default-layout">
    <NavBar/>
    <main class="main-wrap">
      <slot></slot>
    </main>
  </div>
</template>

<script>
  import DefaultHeader from "../Headers/DefaultHeader";
  import NavBar from "../NavBar";
  export default {
    name: "DefaultLayout",
    components: {NavBar, DefaultHeader},
  }
  // Samenvatting: {{ title }}
</script>

<style lang="scss">
.c-default-layout {
  background-color: $dark_white;
  min-height: 100vh;
}
.main-wrap {
  width: calc(100% - 235px);
  margin-left: auto;
  padding: 16px 30px 60px 30px;
}
</style>