<template>
  <div class="c-empty-layout">
    <main class="empty-wrap">
      <slot></slot>
    </main>
  </div>
</template>

<script>
  export default {
    name: "EmptyLayout"
  }
</script>

<style lang="scss">
.c-empty-layout {
  background-color: $dark_white;
  height: 100vh;
}
.empty-wrap {
  background-color: $dark_white;
  height: 100vh;
}
</style>