<template>
  <BaseBlockWrap :title="name" class="c-circle-info">
    <div class="c-circle-info__wrapper">
      <template v-if="isEdit">
        <button class="c-circle-info__btn">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.557 0L16.7598 3.20292L14.3186 5.64409L11.1158 2.44117L13.557 0Z" fill="#91A5B3"/>
            <path d="M0.746582 12.7974V16H3.94917L12.8086 7.15336L9.60602 3.95077L0.746582 12.7974Z" fill="#91A5B3"/>
          </svg>
        </button>
      </template>
      <template v-if="isCompanySelect">
        <div class="c-circle-info__select">
          <div class="c-circle-info__select-current">
            <span></span>
          </div>
        </div>
      </template>
      <ul class="c-circle-info__list">
        <li v-for="item in dataToDisplay" :key="item.id ? item.id : item.shift_id" class="c-circle-info__item"
        >
          <BaseCircle class="c-circle-info__circle" :disabled="item.rate === 0">
            <div class="c-circle-info__rate-type">
              <BaseRateType class="c-circle-info__type-ico" :tooltip="true" :id="item.id ? item.id : item.shift_id"/>
            </div>
            <div class="c-circle-info__price">
              {{ item.rate ? `€${item.rate}` : item.hours_worked ? item.hours_worked : null }}
            </div>
          </BaseCircle>
        </li>
      </ul>
    </div>
  </BaseBlockWrap>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "CircleInfo",
    props: {
      name: {
        type: String
      },
      isEdit: {
        type: Boolean
      },
      isCompanySelect: {
        type: Boolean
      },
      dataToDisplay: {
        type: Array
      }
    },
    data() {
      return {
        current_select: null
      }
    },
    computed: {
      ...mapGetters(['user_companies'])
    },
  }
</script>

<style lang="scss">
.c-circle-info {
  &__wrapper {
    position: relative;
  }
  &__btn {
    position: absolute;
    top: -40px;
    right: 0;
  }
  &__list {
    @extend %dg;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__circle {
    width: 90px;
    height: 90px;
  }
  &__type-ico {
    margin: 0 auto;
  }
  &__price {
    @extend %h2-title;
    color: $black;
    text-align: center;
    margin-top: 10px;
  }
}
  @include bp(1360px) {
    .c-circle-info {
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__circle {
        margin-bottom: 20px;
      }
    }
  }
</style>
