<template>
  <BaseBlockWrap title="Statistieken" class="c-statistics-block">
    <ul class="c-statistics">
      <li class="c-statistics__item">
        <BaseCircle class="c-statistics__circle">
          <h3 class="c-statistics__title">
            {{total_works}}uur
          </h3>
          <p class="c-statistics__text">
            Totaal gewerkt
          </p>
        </BaseCircle>
      </li>
      <li class="c-statistics__item">
        <BaseCircle class="c-statistics__circle">
          <h3 class="c-statistics__title">
            {{total_way}}km
          </h3>
          <p class="c-statistics__text">
            Totaal gereisd
          </p>
        </BaseCircle>
      </li>
<!--      <li class="c-statistics__item">-->
<!--        <BaseCircle class="c-statistics__circle">-->
<!--          <h3 class="c-statistics__title">-->
<!--            €{{total_paid}}-->
<!--          </h3>-->
<!--          <p class="c-statistics__text">-->
<!--            Totaal betaald-->
<!--          </p>-->
<!--        </BaseCircle>-->
<!--      </li>-->
<!--      <li class="c-statistics__item">-->
<!--        <BaseCircle class="c-statistics__circle">-->
<!--          <h3 class="c-statistics__title">-->
<!--            €{{total_to_pay}}-->
<!--          </h3>-->
<!--          <p class="c-statistics__text">-->
<!--            Nog te betalen-->
<!--          </p>-->
<!--        </BaseCircle>-->
<!--      </li>-->
    </ul>
  </BaseBlockWrap>
</template>

<script>
  export default {
    name: "Statistics",
    props: {
      total_works: {
        type: Number,
        default: 0
      },
      total_way: {
        type: Number,
        default: 0
      },
      total_paid: {
        type: Number,
        default: 0
      },
      total_to_pay: {
        type: Number,
        default: 0
      },
    },
  }
</script>

<style lang="scss">
.c-statistics {
  @extend %df;
  @extend %jcsb;
  &__item {

  }
  &__circle {
    width: 158px;
    height: 158px;
  }
  &__title {
    @extend %h1-title;
    color: $black;
    text-align: center;
  }
  &__text {
    @extend %medium-16;
    color: $black;
    margin-top: 9px;
  }
}
  @include bp(1360px) {
    .c-statistics {
      flex-wrap: wrap;
      &__circle {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
      }
      &__title {
        font-size: rem(20);
      }
      &__text {
        font-size: rem(10);
      }
    }
  }
</style>
