<template>
  <BaseBlockWrap title="Samenvatting" class="c-manager-total">
    <div class="c-manager-total__wrapper">
      <template v-if="!is_analytics">
        <ul class="c-manager-total__list">
          <!--        <li class="c-manager-total__item">-->
          <!--          <a :href="total_invoice" class="c-manager-total__link"-->
          <!--             :disabled="!total_invoice"-->
          <!--             v-tooltip="{ text: total_invoice ? null : text }"-->
          <!--             download>-->
          <!--            <i>-->
          <!--              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--                <path d="M11.329 5.82709L10.169 4.66711C10.0088 4.50691 9.74922 4.50691 9.58902 4.66711L8.20312 6.053V0.410156C8.20312 0.183449 8.01968 0 7.79297 0H6.15234C5.92564 0 5.74219 0.183449 5.74219 0.410156V6.053L4.35632 4.66711C4.19612 4.50691 3.93654 4.50691 3.77634 4.66711L2.61636 5.82709C2.45615 5.9873 2.45615 6.24687 2.61636 6.40708L6.68268 10.4734C6.84288 10.6336 7.10243 10.6336 7.26264 10.4734L11.329 6.40708C11.4892 6.24687 11.4892 5.9873 11.329 5.82709Z" fill="#91A5B3"/>-->
          <!--                <path d="M13.5898 9.07812H11.9492C11.7225 9.07812 11.5391 9.26157 11.5391 9.48828V11.5391H2.46094V9.48828C2.46094 9.26157 2.27749 9.07812 2.05078 9.07812H0.410156C0.183449 9.07812 0 9.26157 0 9.48828V12.7695C0 13.448 0.551961 14 1.23047 14H12.7695C13.448 14 14 13.448 14 12.7695V9.48828C14 9.26157 13.8166 9.07812 13.5898 9.07812Z" fill="#91A5B3"/>-->
          <!--              </svg>-->
          <!--            </i>-->
          <!--            <span>-->
          <!--              Algemene factuur-->
          <!--            </span>-->
          <!--          </a>-->
          <!--        </li>-->
          <li class="c-manager-total__item">

            <router-link :to="{ name: 'invoice', params: { company_id: $route.params.id } }"  class="c-manager-total__link"
                         :disabled="!individual_invoice"
                         v-tooltip="{ text: individual_invoice ? null : text }">
            <span>
              Download facturen
            </span>
            </router-link>
          </li>
        </ul>
      </template>
      <div class="c-manager-total__total">
        <div class="c-manager-total__total-item">
          <h3 class="c-manager-total__total-title">
            Totaal uren:
          </h3>
          <div class="c-manager-total__total-num">
            {{ total_hours }}
          </div>
        </div>
        <div class="c-manager-total__total-item">
          <h3 class="c-manager-total__total-title">
            Betalen:
          </h3>
          <div class="c-manager-total__total-num">
            €{{ total_price }}
          </div>
        </div>
      </div>
    </div>
  </BaseBlockWrap>
</template>

<script>
  export default {
    name: "TotalBlock",
    props: {
      total_invoice: {
        type: String
      },
      individual_invoice: {
        type: String
      },
      total_hours: {
        type: String,
        default: '0:0'
      },
      total_price: {
        type: Number,
        default: 0
      },
      is_analytics: Boolean,
    },
    data() {
      return {
        text: 'You can’t download company invoice until each worker confirms his work'
      }
    },
  }
</script>

<style lang="scss">
.c-manager-total {
  &__wrapper {
    padding-top: 20px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    @extend %h3-title;
    color: $blue;
    i {
      svg {
        path {
          fill: $blue;
        }
      }
    }
    &[disabled] {
      color: $gray;
      i {
        svg {
          path {
            fill: $gray
          }
        }
      }
    }
  }
  &__total {
    border-top: 1px solid $dark_white;
    padding-top: 20px;
  }
  &__total-item {
    @extend %df;
    @extend %jcsb;
    &:first-child {
      margin-bottom: 20px;
    }
  }
  &__total-title {
    @extend %h2-title;
    color: $black;
  }
  &__total-num {
    @extend %h2-title;
    color: $black;
  }
}
@include bp(1360px) {
  .c-manager-total {
    &__total-title {
      font-size: rem(18);
    }
    &__total-num {
      font-size: rem(18);
    }
  }
}
</style>
