<template>
  <div class="v-add-employee-page">
    <EmptyHeader component_title="Werknemer toevoegen"/>
    <div class="v-add-employee">
      <div class="v-add-employee__wrap v-add-employee__wrap_left">
        <form action="" class="v-add-employee__form">
          <div class="v-add-employee__wrapper">
            <div class="v-add-employee__input v-add-employee__input_half">
              <label class="v-add-employee__label">
                Naam
              </label>
              <input type="text" placeholder="Jan" v-model="first_name">
            </div>
            <div class="v-add-employee__input v-add-employee__input_half">
              <label class="v-add-employee__label">
                Achternaam
              </label>
              <input type="text" placeholder="Jansen" v-model="last_name">
            </div>
          </div>
          <div class="v-add-employee__wrapper">
            <div class="v-add-employee__input v-add-employee__input_half">
              <label class="v-add-employee__label">
                Email
              </label>
              <input type="text" placeholder="000000@gmail.com" v-model="email">
            </div>
            <div class="v-add-employee__input v-add-employee__input_half">
              <label class="v-add-employee__label">
                Mobiel telefoonnummer
              </label>
              <input type="text" placeholder="+31-XXX-XXXX-XX" v-model="phone">
            </div>
          </div>
          <div class="v-add-employee__wrapper">
            <div class="v-add-employee__input v-add-employee__input_address">
              <label class="v-add-employee__label">
                Adres
              </label>
              <input type="text" placeholder="Nederland, Amsterdam, Broekerhavenweg 122/11" v-model="address">
            </div>
          </div>
          <div class="v-add-employee__wrapper v-add-employee__wrapper_radio">
            <div v-for="company of user_companies" :key="company.id" class="v-add-employee__radio">
              <label class="v-add-employee__label">
                <input type="checkbox" name="company" ref="company_name">
                <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.49373 0.758435C8.83831 0.413855 9.39698 0.413855 9.74156 0.758435C10.0861 1.10302 10.0861 1.66169 9.74156 2.00627L4.44745 7.30039C4.10287 7.64497 3.54419 7.64497 3.19961 7.30039L0.258435 4.35921C-0.0861451 4.01463 -0.0861451 3.45596 0.258435 3.11138C0.603015 2.7668 1.16169 2.7668 1.50627 3.11138L3.82353 5.42863L8.49373 0.758435Z" fill="#6979F8"/>
                </svg>
                <span>{{ company.name }}</span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="v-add-employee__wrap v-add-employee__wrap_right">
        <Rates class="v-add-employee__rates"/>
        <CircleInfo name="Uurtarief" :data-to-display="rate"/>
      </div>
    </div>
  </div>
</template>

<script>
  import EmptyHeader from "../components/Headers/EmptyHeader";
  import { mapState, mapGetters } from "vuex";
  import Rates from "../components/Worker/Rates";
  import CircleInfo from "../components/Manager/CircleInfo";
  export default {
    name: "AddEmployee",
    components: {CircleInfo, Rates, EmptyHeader},
    data() {
      return {
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        address: '',
        rate: [
          {
            type: 1,
            price: 15,
            worked: true
          },
          {
            type: 2,
            price: 17,
            worked: true
          },
          {
            type: 3,
            price: 19,
            worked: true
          },
          {
            type: 4,
            price: 18,
            worked: true
          },
          {
            type: 5,
            price: 18,
            worked: true
          },
          {
            type: 6,
            price: 16,
            worked: true
          },
        ],
      }
    },
    computed: {
      ...mapState(['rate_types']),
      ...mapGetters(['user_companies'])
    },
    // mounted() {
    //   console.log(this.$refs.company_name)
    // }
  }
</script>

<style lang="scss">
.v-add-employee {
  padding-top: 55px;
  @extend %dg;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  &__wrapper {
    @extend %df;
    @extend %jcsb;
    margin-bottom: 30px;
    &_radio {
      justify-content: flex-start;
    }
  }
  &__input {
    @extend %base-input;
    &_address {
      width: 100%;
    }
  }
  &__radio {
    @extend %base-radio;
  }
  &__rates {
    .c-rates-block {
      &__list {
        grid-template-columns: 1fr;
      }
    }
  }
}
</style>