<template>
  <div class="v-analytics-page">
    <DefaultHeader component_title="Algemeen"/>
    <div class="v-analytics">
      <div class="v-analytics__wrap v-analytics__wrap_top">
        <Statistics :total_works="total_time" :total_way="total_distance" :total_paid="total_paid" :total_to_pay="total_to_pay"/>
        <TotalBlock is_analytics :individual_invoice="individual_invoice" :total_hours="total_time" :total_price="total_earn"/>
      </div>
      <div class="v-analytics v-analytics__wrap_bot">
        <BaseTableWrap is_analytics title="Overzicht" :isManager="true" :shifts="rate_types" :data_lines="analytics"/>
      </div>
    </div>
  </div>
</template>

<script>
  import DefaultHeader from "../components/Headers/DefaultHeader";
  import Statistics from "../components/Manager/Statistics";
  import TotalBlock from "../components/Manager/TotalBlock";
  import {mapGetters} from "vuex";
  export default {
    name: "AnalyticsWorkers",
    components: {TotalBlock, Statistics, DefaultHeader},
    data() {
      return {
        total_works: 342,
        total_way: 265,
        total_paid: 4000,
        total_to_pay: 1742,
        individual_invoice: 'link',
        total_hours: '256:00',
        total_price: 5742
      }
    },
    computed: {
      ...mapGetters('manager', ['analytics', 'total_hours_worked', 'total_to_pay']),
      rate_types() {
        return this.$store.getters.rate_types
      },
      total_distance() {
        let res = 0;
        this.analytics.forEach(({ distance }) => res += distance)
        return res
      },
      total_earn() {
        let res = 0;
        this.analytics.forEach(({ total_earnings }) => res += +total_earnings);
        return res
      },
      total_time() {
        let res = 0;
        this.analytics.forEach(({ total_time_float }) => res += +total_time_float);
        return res
      }
    },
    filters: {
      crop_data(value) {
        return value.split(":")[0]
      }
    }
  }
</script>

<style lang="scss">
.v-analytics-page {

}
.v-analytics {
  padding-top: 37px;
  &__wrap {
    &_top {
      @extend %dg;
      grid-template-columns: repeat(2, 410px);
      column-gap: 30px;
    }
    &_bot {
      margin-top: 30px;
    }
  }
}
  @include bp(1360px) {
    .v-analytics {
      &__wrap {
        &_top {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
</style>
