<template>
  <div class="v-index">
    <div class="v-index__logo">
      <img src="https://zzp.zorgkoppeling.nl/themes/demo/assets/crm/img/Zorgkoppeling-logo-310w.jpg" alt="Logotype">
    </div>
  </div>
</template>

<script>
  import { mapGetters } from "vuex";

  export default {
    name: "Index",
    computed: {
      ...mapGetters('user', ['user_role', 'user_companies'])
    },
    mounted() {
      // console.log(mapGetters)

    }
  }
</script>

<style lang="scss">
.v-index {
  @extend %df;
  @extend %jcc;
  @extend %aic;
  background-color: $body_bg;
  height: 100vh;
}
</style>
