<template>
  <div class="v-invoice-page">
    <DefaultHeader component_title="Factuur" is_invoice :invoice_date="invoice_date"/>
    <div class="v-invoice">
      <div class="v-invoice__wrap v-invoice__wrap_left">
<!--        <pre>-->
<!--          {{ invoice }}-->
<!--        </pre>-->
        <PrintableInvoice v-model="invoice_date" :invoice_data="invoice"/>
      </div>
      <div class="v-invoice__wrap v-invoice__wrap_right">
        <BaseBlockWrap class="v-invoice__btns-wrap">
          <div class="v-invoice__btns">
            <button @click="print" class="v-invoice__print">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.868 5.9997L10.7081 4.83972C10.5479 4.67951 10.2883 4.67951 10.1281 4.83972L8.74219 6.22561V0.582764C8.74219 0.356057 8.55874 0.172607 8.33203 0.172607H6.69141C6.4647 0.172607 6.28125 0.356057 6.28125 0.582764V6.22561L4.89539 4.83972C4.73518 4.67951 4.47561 4.67951 4.3154 4.83972L3.15542 5.9997C2.99521 6.1599 2.99521 6.41948 3.15542 6.57969L7.22174 10.646C7.38195 10.8062 7.64149 10.8062 7.8017 10.646L11.868 6.57969C12.0283 6.41948 12.0283 6.1599 11.868 5.9997Z" fill="#2E51AA"/>
                <path d="M14.1289 9.25073H12.4883C12.2616 9.25073 12.0781 9.43418 12.0781 9.66089V11.7117H3V9.66089C3 9.43418 2.81655 9.25073 2.58984 9.25073H0.949219C0.722512 9.25073 0.539062 9.43418 0.539062 9.66089V12.9421C0.539062 13.6206 1.09102 14.1726 1.76953 14.1726H13.3086C13.9871 14.1726 14.5391 13.6206 14.5391 12.9421V9.66089C14.5391 9.43418 14.3556 9.25073 14.1289 9.25073Z" fill="#2E51AA"/>
              </svg>
              <span>
                Download facturen
              </span>
            </button>
            <template v-if="!user_role">
              <p class="inv-exp">
                Stuur je factuur naar <a href="mailto:finance@zorgkoppeling.nl">
                finance@zorgkoppeling.nl
              </a>
              </p>
            </template>

<!--            <router-link :to="{name: 'invoice-history'}" class="v-invoice__history">-->
<!--              Invoice History ({{ invoice.history }})-->
<!--            </router-link>-->
          </div>
        </BaseBlockWrap>
      </div>
    </div>
  </div>
</template>

<script>
  import PrintableInvoice from "../components/PrintableInvoice";
  import BaseBlockWrap from "../components/Base/BaseBlockWrap";
  import DefaultHeader from "../components/Headers/DefaultHeader";
  import { mapGetters } from 'vuex'

  export default {
    name: "Invoice",
    components: {DefaultHeader, BaseBlockWrap, PrintableInvoice},
    data() {
      return {
        invoice_data: {
          logo: 'http://api.vehicleapprovalcentre.com/storage/app/media/Union_2.svg',
          address: 'Moorhen 38\n' +
            '1715HB SPANBROEK\n' +
            'contact@zorgkoppeling.nl\n' +
            '0615344704',
          kvk: '71052801',
          btw_id: '858561517B01',
          bank:'NL47 RABO 0328 8673 30',
          bill_name: 'Opklopper',
          bill_address: 'Simon Albers\n' +
            'Koogstraat 9, Amsterdam 1013WT',
          bill_details: 'Wij verzoeken u vriendelijk het bedrag binnen 14 dagen te voldoen op het bankrekeningnummer\n' +
            'NL32 KNAB 0256 4291 11 t.n.v. Opklopper onder vermelding van het factuurnummer.',
          table_rows: [
            {
              id: 234,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 56565,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 5656,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 3432432,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 655,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 4443,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
            {
              id: 565,
              description: 'Direct care Monday to Friday 7:00 am to 8:00 pm',
              aantal: 342.6,
              tarief: 17,
              ex_btw: 5814,
              btw: 21,
              vat: 1246,
              total: 6129
            },
          ]
        },
        history: 6,
        invoice_date: null
      }
    },
    computed: {
      ...mapGetters('invoice', ['invoice']),
      ...mapGetters('user', ['user_role'])
    },
    methods: {
      print() {
        window.print()
      }
    },
  }
</script>

<style lang="scss">
.v-invoice {
  display: grid;
  grid-template-columns: rem(755) 1fr;
  grid-gap: rem(30);
  margin-top: rem(37);
  &__print {
    display: flex;
    justify-content: flex-end;
    @extend %h3-title;
    color: $blue;
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
    svg {
      margin-right: 10px;
    }
  }
  &__history {
    display: block;
    @extend %h3-title;
    color: $gray;
    text-align: right;
    width: 100%;
  }
}
.inv-exp {
  @extend %invoice-body;
  margin-top: rem(15);
  color: $black;
  text-align: right;
  a {
    color: $blue;
  }
}
@media print {
  .v-invoice {
    padding-top: 0;
    &__wrap {
      &_right {
        display: none;
      }
    }
  }
}
  @media (max-width: 1360px) {
    .v-invoice {
      &__print, &__history {
        font-size: rem(13);
      }
      &__btns-wrap {
        padding: 20px;
        .base-block__title {
          margin-bottom: 0;
        }
      }
    }
  }
</style>
