<template>
  <div class="v-invoice-history-page">
    <EmptyHeader component_title="Invoice history"/>
    <div class="v-invoice-history">
      <BaseBlockWrap class="v-invoice-history__table">
        <ul class="v-invoice-history__t-header">
          <li class="v-invoice-history__t-header-itm">
            №
          </li>
          <li class="v-invoice-history__t-header-itm">
            Company
          </li>
          <li class="v-invoice-history__t-header-itm">
            Date
          </li>
          <li class="v-invoice-history__t-header-itm">
            Total time
          </li>
          <li class="v-invoice-history__t-header-itm">
            Total earning
          </li>
        </ul>
        <ul class="v-invoice-history__t-main">
          <li @click="click_item(row.company_id)" v-for="row in table" :key="row.id" class="v-invoice-history__t-row-itm">
            <div class="v-invoice-history__t-itm">
              # {{ row.invoice_number }}
            </div>
            <div class="v-invoice-history__t-itm">
              {{ row.company_name }}
            </div>
            <div class="v-invoice-history__t-itm">
              {{ row.invoice_date }}
            </div>
            <div class="v-invoice-history__t-itm">
              {{ row.total_time }}
            </div>
            <div class="v-invoice-history__t-itm">
              € {{ row.total_earning }}
            </div>
          </li>
        </ul>
      </BaseBlockWrap>
    </div>
  </div>
</template>

<script>
  import BaseBlockWrap from "../components/Base/BaseBlockWrap";
  import EmptyHeader from "../components/Headers/EmptyHeader";
  import moment from 'moment';
  export default {
    name: "InvoiceHistory",
    components: {EmptyHeader, BaseBlockWrap},
    data() {
      return {
        table: [
          {
            id: 234234,
            invoice_number: 2,
            invoice_date: moment().format('DD/MM/YYYY'),
            company_name: 'Company name',
            company_id: 6,
            total_time: '10:00',
            total_earning: 500,
          },
          {
            id: 5454,
            invoice_number: 1,
            invoice_date: moment().format('DD/MM/YYYY'),
            company_name: 'Company name',
            company_id: 6,
            total_time: '12:00',
            total_earning: 700,
          }
        ]
      }
    },
    methods: {
      click_item(id) {
        this.$router.push({ name: 'invoice', params: { company_id: id } })
      }
    },
  }
</script>

<style lang="scss">
.v-invoice-history {
  &__t-header, &__t-row-itm {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: rem(10) 5px;
  }
  &__t-row-itm {
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 2px;
    &:hover {
      box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.15)
    }
  }
  &__t-header-itm {
    @extend %medium-18;
  }
  &__t-itm {
    @extend %roman-16;
  }
}
</style>
