<template>
  <div class="v-manager-dashboard">
    <DefaultHeader/>
    <div class="v-manager">
      <div class="v-manager__wrap v-manager__wrap_top">
        <CircleInfo name="Uurtarief" :data-to-display="$store.getters['manager/rates']"/>
        <CircleInfo name="Uren gewerkt" :data-to-display="total_hours_per_shift"/>
        <TotalBlock :individual_invoice="individual_invoice" :total_hours="total_hours_worked" :total_price="total_to_pay"/>
      </div>
      <div class="v-manager__wrap v-manager__wrap_bot">
        <BaseTableWrap title="Overzicht" :isManager="true" :shifts="rate_types" :data_lines="manager_table"/>
      </div>
    </div>
  </div>
</template>

<script>
  import CircleInfo from "../components/Manager/CircleInfo";
  import DefaultHeader from "../components/Headers/DefaultHeader";
  import TotalBlock from "../components/Manager/TotalBlock";
  import {mapGetters} from "vuex";
  export default {
    name: "ManagerDashboard",
    components: {TotalBlock, DefaultHeader, CircleInfo},
    data() {
      return {
        rate: [
          {
            type: 1,
            price: 15,
            worked: true
          },
          {
            type: 2,
            price: 17,
            worked: true
          },
          {
            type: 3,
            price: 19,
            worked: true
          },
          {
            type: 4,
            price: 18,
            worked: true
          },
          {
            type: 5,
            price: 18,
            worked: true
          },
          {
            type: 6,
            price: 16,
            worked: true
          },
        ],
        time: [
          {
            type: 1,
            time: '32:00',
            worked: true
          },
          {
            type: 2,
            time: '54:00',
            worked: true
          },
          {
            type: 3,
            time: '28:00',
            worked: true
          },
          {
            type: 4,
            time: '84:00',
            worked: true
          },
          {
            type: 5,
            time: '39:00',
            worked: true
          },
          {
            type: 6,
            time: '45:00',
            worked: true
          },
        ],
        individual_invoice: 'link',
        total_hours: '256:00',
        total_price: 5742
      }
    },
    computed: {
      ...mapGetters('manager', ['manager_table', 'total_hours_worked', 'total_hours_per_shift', 'total_to_pay', 'rates']),
      rate_types() {
        // console.log(this.manager_table)
        return this.$store.getters.rate_types
      }
    },
    created() {
      if(this.rate_types) {
        this.$store.dispatch('set_load', true);
        this.$store.dispatch('get_shifts_by_company', this.$route.params.id)
          .then(() => {
            this.$store.dispatch('manager/get_company_table', this.$route.params.id)
              .then(() => {
                this.$store.dispatch('manager/get_total_worked_hours', this.$route.params.id)
                  .then(() => {
                    this.$store.dispatch('manager/get_dashboard_data', this.$route.params.id);
                    this.$store.dispatch('set_load', false);
                  })
              })
          })
      } else {
        this.$route.push({ name: 'index' })
      }
    }
  }
</script>

<style lang="scss">
.v-manager-dashboard {
  /*padding: 16px 30px 41px 30px;*/
}
.v-manager {
  padding-top: 37px;
  &__wrap {
    &_top {
      @extend %dg;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
    }
    &_bot {
      margin-top: 34px;
    }
  }
}
  @include bp(1360px) {
    .v-manager {
      &__wrap {
        &_top {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
</style>
