<template>
  <div class="v-notifications-page">
    <EmptyHeader component_title="Meldingen"/>
    <div class="v-notifications">
      <BaseTableWrap title="Wijzigingen wachten op beoordeling" :data_lines="notifications" :shifts="rate_types" :isManager="true" :isNotificationTable="true"/>
    </div>
  </div>
</template>

<script>
  import DefaultHeader from "../components/Headers/DefaultHeader";
  import { mapGetters } from 'vuex'
  import EmptyHeader from "../components/Headers/EmptyHeader";
  export default {
    name: "Notifications",
    components: {EmptyHeader, DefaultHeader},
    computed: {
      ...mapGetters('manager', ['notifications_count', 'notifications']),
      rate_types() {
        // console.log(this.manager_table)
        return this.$store.getters.rate_types
      }
    },
  }
</script>

<style lang="scss">
.v-notifications {
  margin-top: 30px;
}
</style>
