<template>
  <div class="v-worker-section">
    <DefaultHeader/>
    <div class="v-worker">
      <div class="v-worker__wrap v-worker__wrap_left">
        <template v-if="earnings">
          <Earned :earnings="earnings" :total="earnings_total"/>
        </template>
        <template v-if="rates">
          <HourlyRate :rates="rates"/>
        </template>
        <template v-if="earnings">
          <WorkedTime :hours_worked="hours_worked"/>
        </template>
      </div>
      <div class="v-worker__wrap v-worker__wrap_right">
        <template v-if="earnings">
          <Rates/>
        </template>
        <template v-if="earnings">
          <BaseTableWrap title="Overzicht" :shifts="rate_types" :data_lines="table_working_hours"/>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import DefaultHeader from "../components/Headers/DefaultHeader";
  import Earned from "../components/Worker/Earned";
  import HourlyRate from "../components/Worker/HourlyRate";
  import WorkedTime from "../components/Worker/WorkedTime";
  import Rates from "../components/Worker/Rates";
  import { mapGetters } from 'vuex'
  export default {
    props: {
      id: {
        type: Number,
        required: true,
      },
    },
    name: "WorkerDashboard",
    components: {Rates, WorkedTime, HourlyRate, Earned, DefaultHeader},
    computed: {
      ...mapGetters('worker', ['hours_worked', 'earnings', 'earnings_total', 'rates', 'table_working_hours']),
      rate_types() {
        return this.$store.getters.rate_types
      }
    },
    created() {
      if(this.hours_worked && this.rate_types) {
        this.$store.dispatch('set_load', true);
        this.$store.dispatch('worker/get_dashboard_data', this.$route.params.id)
        this.$store.dispatch('get_shifts_by_company', this.$route.params.id).then(() =>{
          this.$store.dispatch('set_load', false);
        });
      } else {
        this.$route.push({ name: 'index' })
      }
    }
  }
</script>

<style lang="scss">
.v-worker {
  display: grid;
  grid-template-columns: 362px 1fr;
  column-gap: 30px;
  margin-top: 30px;
  &-section {
    /*padding: 16px 32px 64px 28px;*/
  }
  &__wrap {
    &_left {

    }
    &_right {

    }
  }
}
@include bp(1360px) {
  .v-worker {
    display: flex;
    flex-direction: column;
    &__wrap {
      &_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
</style>
