<template>
  <BaseBlockWrap title="Verdient" class="c-worker-earned-block">
    <div class="c-worker-earned__wrapper">
      <ul class="c-worker-earned__list">
        <li v-for="earned in earnings" :key="earned.shift_id" class="c-worker-earned__item">
          <BaseCircle class="c-worker-earned__circle">
            <div class="c-worker-earned__rate-type">
              <BaseRateType class="c-worker-earned__type-ico" :id="earned.shift_id" :tooltip="true"/>
            </div>
            <div class="c-worker-earned__amount">
              €{{ earned.shift_total_money }}
            </div>
          </BaseCircle>
        </li>
      </ul>
      <div class="c-worker-earned__total">
        <h4 class="c-worker-earned__subtitle">
          Totaal Verdiend:
        </h4>
        <p class="c-worker-earned__number">
          €{{ total }}
        </p>
      </div>
    </div>
  </BaseBlockWrap>
</template>

<script>
  export default {
    name: "Earned",
    props: {
      earnings: {
        type: Array,
        required: true
      },
      total: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        earned_types: [
          {
            type: 1,
            amount: 180
          },
          {
            type: 3,
            amount: 425
          },
          {
            type: 4,
            amount: 0
          },
          {
            type: 5,
            amount: 136
          },
          {
            type: 7,
            amount: 12
          },
        ]
      }
    },
    computed: {
      // total_earned() {
      //   let total_sum = 0;
      //   this.earned_types.filter(el => total_sum += el.amount)
      //   return total_sum;
      // }
    },
  }
</script>

<style lang="scss">
.c-worker-earned {
  &-block {
    margin-bottom: 30px;
  }
  &__list {
    @extend %dg;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__circle {
    width: 90px;
    height: 90px;
    &:hover {
      background-color: $white;
    }
  }
  &__type-ico {
    margin: 0 auto;
    margin-bottom: 9px;
  }
  &__amount {
    @extend %h2-title;
    text-align: center;
  }
  &__total {
    @extend %df;
    @extend %jcsb;
    @extend %aic;
    border-top: 1ps solid $dark_white;
    margin-top: 20px;
    padding-top: 24px;
  }
  &__subtitle {
    @extend %h2-title;
    color: $black;
  }
  &__number {
    @extend %h1-title;
    color: $black;
  }
}
  @include bp(1360px) {
    .c-worker-earned {
      &-block {
        max-width: 350px;
        margin-bottom: 0;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__circle {
        margin-bottom: 20px;
      }
      &__subtitle {
        font-size: rem(20);
      }
      &__number {
        font-size: rem(20);
      }
    }
  }
</style>
