<template>
  <BaseBlockWrap title="Uurtarief" class="c-hourly-rate">
    <div class="c-hourly-rate__wrapper">
      <ul class="c-hourly-rate__list">
        <li v-for="item in rates" :key="item.shift_id" class="c-hourly-rate__item"
        >
          <BaseCircle class="c-hourly-rate__circle" :disabled="item.rate === 0">
            <div class="c-hourly-rate__rate-type">
              <BaseRateType class="c-hourly-rate__type-ico" :id="item.shift_id"/>
            </div>
            <div class="c-hourly-rate__price">
              €{{ item.rate }}
            </div>
          </BaseCircle>
        </li>
      </ul>
    </div>
  </BaseBlockWrap>
</template>

<script>
  export default {
    name: "HourlyRate",
    props: {
      rates: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        rate: [
          {
            type: 2,
            price: 15,
            worked: true
          },
          {
            type: 3,
            price: 17,
            worked: true
          },
          {
            type: 4,
            price: 19,
            worked: true
          },
          {
            type: 5,
            price: 18,
            worked: true
          },
          {
            type: 1,
            price: 18,
            worked: false
          },
          {
            type: 6,
            price: 16,
            worked: false
          },
        ]
      }
    },
  }
</script>

<style lang="scss">
.c-hourly-rate {
  margin-bottom: 30px;
  &__list {
    @extend %dg;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__type-ico {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__price {
    @extend %h1-title;
    text-align: center;
  }
}
@include bp(1360px) {
  .c-hourly-rate {
    margin-bottom: 0;
    &__circle {
      width: 90px;
      height: 90px;
    }
    &__type-ico {
      width: 10px;
      height: 10px;
    }
    &__price {
      font-size: rem(24);
      line-height: rem(24);
    }
  }
}
</style>
