<template>
  <BaseBlockWrap title="Tarieven" class="c-rates-block">
    <div class="c-rates-block__wrapper">
      <ul class="c-rates-block__list">
        <li v-for="rate in rate_types" :key="rate.id" class="c-rates-block__item">
          <div class="c-rates-block__icon">
            <BaseRateType class="c-rates-block__type-ico" :id="rate.id"/>
          </div>
          <p class="c-rates-block__text">
            {{ rate.name }} - {{ rate.time.from }} tot {{ rate.time.to }}
          </p>
        </li>
      </ul>
    </div>
  </BaseBlockWrap>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    name: "Rates",
    computed: {
      ...mapGetters(['rate_types'])
    },
  }
</script>

<style lang="scss">
.c-rates-block {
  margin-bottom: 30px;
  &__list {
    @extend %dg;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 18px;
  }
  &__item {
    @extend %df;
    @extend %aic;
  }
  &__type-ico {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  &__text {
    @extend %roman-h3;
    color: $black;
  }
}
</style>