<template>
  <BaseBlockWrap title="Uren gewerkt" class="c-worked-time-block">
    <div class="c-worked-time">
      <ul class="c-worked-time__list">
        <li v-for="item in hours_worked" :key="item.shift_id" class="c-worked-time__item"
            v-tooltip="{ text: parseInt('00:10'.replace(':', '')) > 0 ? 'You haven’t worked on this tariff yet' : null }"
        >
          <BaseCircle class="c-worked-time__circle" :disabled="parseInt('00:10'.replace(':', '')) > 0">
            <div class="c-worked-time__rate-type">
              <BaseRateType class="c-worked-time__type-ico" :id="item.shift_id"/>
            </div>
            <div class="c-worked-time__time">
              {{ item.worked_hours }}
            </div>
          </BaseCircle>
        </li>
      </ul>
    </div>
  </BaseBlockWrap>
</template>

<script>
  export default {
    name: "WorkedTime",
    props: {
      hours_worked: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        time: [
          {
            type: 2,
            time: '3:00',
            worked: true
          },
          {
            type: 3,
            time: '8:00',
            worked: true
          },
          {
            type: 4,
            time: '0:00',
            worked: true
          },
          {
            type: 5,
            time: '4:30',
            worked: true
          },
          {
            type: 1,
            time: '0:00',
            worked: false
          },
          {
            type: 6,
            time: '0:00',
            worked: false
          },
        ]
      }
    },
  }
</script>

<style lang="scss">
.c-worked-time {
  &__list {
    @extend %dg;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__type-ico {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__time {
    @extend %h1-title;
    text-align: center;
  }
}
@include bp(1360px) {
  .c-worked-time {
    &__circle {
      width: 90px;
      height: 90px;
    }
    &__type-ico {
      width: 10px;
      height: 10px;
    }
    &__time {
      font-size: rem(24);
      line-height: rem(24);
    }
  }
}
</style>
