<template>
  <div class="c-base-circle" :class="{ disabled: isDisabled }">
    <div class="c-base-circle__wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "BaseCircle",
    props: {
      isDisabled: {
        type: Boolean
      },
    },
  }
</script>

<style lang="scss">
.c-base-circle {
  @extend %base-circle;
  &[disabled] {
    color: $gray;
    &:hover {
      background-color: $white;
    }
  }
  &__wrapper {
    width: fit-content;
  }
}
</style>