<template>
  <BaseBlockWrap is_table :title="title" class="c-table">
    <div class="c-table__wrapper">
      <ul class="c-table__shifts" :class="{ 'manager-shifts': isManager, 'worker-shifts': !isManager, 'analytics-shifts': is_analytics }">
        <template v-if="isManager">
          <li class="c-table__shift c-table__shift_user">
            <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.49341 7.78498C9.62637 7.78498 11.3555 6.04225 11.3555 3.89249C11.3555 1.74273 9.62637 0 7.49341 0C5.36045 0 3.63134 1.74273 3.63134 3.89249C3.63134 6.04225 5.36045 7.78498 7.49341 7.78498Z" fill="#91A5B3"/>
              <path d="M7.49341 9.73122C3.62741 9.73122 0.493408 12.8899 0.493408 16.7864H14.4934C14.4934 12.8899 11.3594 9.73122 7.49341 9.73122Z" fill="#91A5B3"/>
            </svg>
          </li>
          <li class="c-table__shift c-table__shift_company">
            <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 15.3017V2.30162C13 1.19861 12.103 0.301636 11 0.301636H3C1.89698 0.301636 1.00001 1.19861 1.00001 2.30162V15.3016H0V16.3016H14V15.3016L13 15.3017ZM7.99998 3.30163H9.99997V5.30162H7.99998V3.30163ZM7.99998 6.30163H9.99997V8.30162H7.99998V6.30163ZM7.99998 9.30163H9.99997V11.3016H7.99998V9.30163ZM4 3.30163H5.99999V5.30162H4V3.30163ZM4 6.30163H5.99999V8.30162H4V6.30163ZM4 9.30163H5.99999V11.3016H4V9.30163ZM4.99998 15.3017V12.3017H8.99999V15.3017H4.99998Z" fill="#91A5B3"/>
            </svg>
          </li>
        </template>
        <template v-else>
          <li class="c-table__shift c-table__shift_date">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.7318 2C16.2838 2 16.7318 2.448 16.7318 3V15C16.7318 15.552 16.2838 16 15.7318 16H1.73181C1.17981 16 0.731812 15.552 0.731812 15V3C0.731812 2.448 1.17981 2 1.73181 2H3.73181V0H6.73181V2H10.7318V0H13.7318V2H15.7318ZM14.7318 14V5H2.73181V14H14.7318ZM4.73181 7H6.73181V9H4.73181V7ZM7.73181 7H9.73181V9H7.73181V7Z" fill="#91A5B3"/>
            </svg>
          </li>
        </template>
        <li v-for="shift of shifts" :key="shift.id" class="c-table__shift c-table__shift_icon">
          <BaseRateType :tooltip="true" class="c-table__shift-ico" :id="shift.id"/>
        </li>
        <template v-if="isManager">
          <li class="c-table__shift c-table__shift_total" v-tooltip="{ text: 'Total amount of \n hours worked' }">
            <i class="c-table__shift-ico c-table__shift-ico_total"></i>
          </li>
        </template>
        <li class="c-table__shift c-table__shift_distance">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.625 12.3077C14.81 12.3077 14.1225 12.8234 13.865 13.5385H6.135C5.87625 12.8234 5.19 12.3077 4.375 12.3077C3.34 12.3077 2.5 13.1348 2.5 14.1539C2.5 15.173 3.34 16 4.375 16C5.19 16 5.8775 15.4843 6.135 14.7693H13.865C14.1237 15.4843 14.81 16 15.625 16C16.66 16 17.5 15.173 17.5 14.1539C17.5 13.1348 16.66 12.3077 15.625 12.3077Z" fill="#91A5B3"/>
            <path d="M4.375 3.05176e-05C1.9625 3.05176e-05 0 1.93234 0 4.30772C0 6.51818 3.51 10.4333 3.91 10.8726C4.02875 11.0019 4.1975 11.077 4.375 11.077C4.5525 11.077 4.72125 11.0019 4.84 10.8726C5.24 10.4333 8.75 6.51818 8.75 4.30772C8.75 1.93234 6.7875 3.05176e-05 4.375 3.05176e-05ZM4.375 6.15388C3.34 6.15388 2.5 5.3268 2.5 4.30772C2.5 3.28865 3.34 2.46157 4.375 2.46157C5.41 2.46157 6.25 3.28865 6.25 4.30772C6.25 5.3268 5.41 6.15388 4.375 6.15388Z" fill="#91A5B3"/>
            <path d="M15.625 3.05176e-05C13.2125 3.05176e-05 11.25 1.93234 11.25 4.30772C11.25 6.51818 14.76 10.4333 15.16 10.8726C15.2788 11.0019 15.4475 11.077 15.625 11.077C15.8025 11.077 15.9712 11.0019 16.09 10.8726C16.49 10.4333 20 6.51818 20 4.30772C20 1.93234 18.0375 3.05176e-05 15.625 3.05176e-05ZM15.625 6.15388C14.59 6.15388 13.75 5.3268 13.75 4.30772C13.75 3.28865 14.59 2.46157 15.625 2.46157C16.66 2.46157 17.5 3.28865 17.5 4.30772C17.5 5.3268 16.66 6.15388 15.625 6.15388Z" fill="#91A5B3"/>
          </svg>
        </li>
        <template v-if="isManager">
          <li class="c-table__shift c-table__shift_amount">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.9254 14.263C13.7416 13.8244 13.5544 13.3859 13.3502 12.954C13.1699 12.5685 12.9385 12.4556 12.5063 12.5519C11.9584 12.6749 11.4207 12.8377 10.8728 12.9473C9.81445 13.1633 8.75269 13.1832 7.70795 12.8609C6.39777 12.4589 5.70014 11.5319 5.27135 10.3358H8.82415C9.1032 10.3358 9.32781 10.1166 9.32781 9.84412V8.75102C9.32781 8.47858 9.1032 8.2593 8.82415 8.2593H4.93104C4.93104 7.95363 4.92764 7.66125 4.93104 7.36887H8.82415C9.1032 7.36887 9.32781 7.14959 9.32781 6.87715V5.78405C9.32781 5.51161 9.1032 5.29233 8.82415 5.29233H5.42109C5.42109 5.27904 5.42109 5.26575 5.42789 5.2591C5.83626 4.35206 6.4318 3.62444 7.40848 3.24568C8.5451 2.80711 9.70555 2.81708 10.8762 3.05298C11.4309 3.16262 11.9754 3.32874 12.5301 3.45167C12.9351 3.54138 13.1699 3.42509 13.3434 3.0563C13.5442 2.63102 13.728 2.1991 13.9117 1.76386C14.0853 1.35519 13.9832 1.06614 13.5884 0.840208C13.4898 0.783726 13.3877 0.737212 13.2822 0.697342C11.6419 0.0727165 9.95057 -0.159857 8.20479 0.112586C6.97629 0.30529 5.82945 0.717277 4.83916 1.46816C3.59024 2.41174 2.78031 3.65767 2.31068 5.12288L2.25283 5.29233H0.503654C0.224602 5.29233 0 5.51161 0 5.78405V6.87715C0 7.14959 0.224602 7.36887 0.503654 7.36887H1.8819C1.8819 7.6679 1.8819 7.95695 1.8819 8.2593H0.503654C0.224602 8.2593 0 8.47858 0 8.75102V9.84412C0 10.1166 0.224602 10.3358 0.503654 10.3358H2.16435C2.29026 10.7345 2.39576 11.1399 2.5557 11.522C3.39626 13.5022 4.80513 14.9109 6.92524 15.582C8.67782 16.1369 10.444 16.1203 12.2102 15.6452C12.6696 15.5222 13.1256 15.3627 13.5612 15.1667C13.9832 14.9773 14.0921 14.6584 13.9254 14.263Z" fill="#91A5B3"/>
            </svg>
          </li>
        </template>
      </ul>
      <template v-if="data_lines.length === 0">
        <div class="c-table__no-data">
          Geen data beschikbaar
        </div>
      </template>
      <template v-else>
        <ul class="c-table__data">
          <li v-for="data_line in data_lines" :key="data_line.date" class="c-table__data-line">
            <BaseTableLine :is_analytics="is_analytics" :isManager="isManager" :isNotificationsTable="isNotificationTable" :data_line="data_line"/>
          </li>
        </ul>
      </template>
    </div>
  </BaseBlockWrap>
</template>

<script>
  // import Velocity from '../../assets/velocity.min.js';
  export default {
    name: "BaseTableWrap",
    props: {
      title: {
        type: String,
      },
      isManager: {
        type: Boolean,
        default: false
      },
      shifts: {
        type: Array,
        required: true,
      },
      isNotificationTable: {
        type: Boolean,
        default: false
      },
      data_lines: {
        type: Array,
        required: true,
      },
      is_analytics: Boolean,
    },
    created() {
      // console.log(this.data_lines)
    },
    methods: {
      // beforeEnter: function (el) {
      //   el.style.opacity = 0
      //   el.style.height = 0
      // },
      // enter: function (el, done) {
      //   var delay = el.dataset.index * 150
      //   setTimeout(function () {
      //     Velocity(
      //       el,
      //       { opacity: 1, height: '1.6em' },
      //       { complete: done }
      //     )
      //   }, delay)
      // },
      // leave: function (el, done) {
      //   var delay = el.dataset.index * 150
      //   setTimeout(function () {
      //     Velocity(
      //       el,
      //       { opacity: 0, height: 0 },
      //       { complete: done }
      //     )
      //   }, delay)
      // }
    }
  }
</script>

<style lang="scss">
.c-table {
  &__no-data {
    @extend %roman-16;
    color: $black;
    text-align: center;
    padding: 25px 0;
  }
  &__shift {
    &_user {
      margin-right: 113px;
    }
    &_company {
      margin-right: 51px;
    }
    &_total {
      margin-right: 62px;
    }
    &-ico_total {
      @extend %db;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin-top: -6px;
      background: linear-gradient(296.86deg, #B28ECE 10.39%, #88A3E9 26.89%, #80C6D4 42.18%, #B6D884 57.87%, #FDCD79 72.75%, #FF8888 87.64%);
    }
    &_amount {
      margin-left: 59px;
    }

    &_icon {
      margin-top: -6px;
    }
  }
  &__shifts {
    @extend %df;
    @extend %aic;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $dark_white;
    &.manager-shifts {
      .c-table {
        &__shift {
          &_icon {
            margin-right: 49px;
          }
        }
      }
    }
    &.analytics-shifts {
      .c-table {
        &__shift {
          &_icon {
            margin-right: 55px;
          }
        }
      }
    }
    &.worker-shifts {
      .c-table {
        &__shift {
          &_date {
            margin-right: 73px;
          }
          &_icon {
            margin-right: 44px;
          }
        }
      }
      /*grid-template-columns: repeat(9, 1fr);*/
    }
  }
  &__data-line {
    margin: 0 -30px;
  }
  &__shift {
    &-ico {
      width: 16px;
      height: 16px;
    }
  }
}
  @include bp(1360px) {
    .c-table {
      &__shift {
        &_user {
          margin-right: 121px;
        }
        &_company {
          margin-right: 68px;
        }
      }
    }
  }
  @include bp(1200px) {
    .c-table {
      &__shift {
        &_total {
          margin-right: 43px;
        }
      }
    }
  }
</style>
