<template>
  <form @submit.prevent="onSubmit" @click.self="managerApprove" class="c-table-line" ref="line_form" :class="line_classes">
    <div class="c-table-line__wrapper">
      <template v-if="isManager">
        <div class="c-table-line__item c-table-line__item_user"
             v-tooltip="{ text: `${this.data_line.name} ${this.data_line.surname}` }"
             :title="`${this.data_line.name} ${this.data_line.surname}`">
          {{ user_full_name }}
        </div>
        <div class="c-table-line__item c-table-line__item_company"
             v-tooltip="{ text: data_line.company }"
             :title="data_line.company">
          {{ company_name }}
        </div>
      </template>
      <template v-else>
        <div class="c-table-line__item c-table-line__item_date">
          {{ data_line.formatted_date }}
        </div>
      </template>
      <ul class="c-table-line__shift-wrapper">
        <li v-for="shift in shifts_list" :key="shift.shift_id"
            :class="{ analytics_time: is_analytics }"
            class="c-table-line__shift">
          <input type="text"
                 :placeholder="shift.time"
                 :name="`shift_id-${shift.shift_id}`"
                 :disabled="!isEditing"
                 :class="{ empty: parseInt(shift.time.split(':')) === 0 }"
                 class="c-table-line__input-time"
                 @focus="inputFocus($event)"
                 @input="inputChange($event)"
                 @blur="inputBlur"
          >
        </li>
      </ul>
      <template v-if="isManager">
        <div class="c-table-line__item c-table-line__item_total-hours">
          {{ data_line.total_time || '00:00' }}
        </div>
      </template>
      <div class="c-table-line__item c-table-line__item_distance">
        {{ distance_val }}km
      </div>
      <template v-if="isManager">
        <div class="c-table-line__item c-table-line__item_total-earnings">
          €{{ data_line.total_earnings || data_line.before_change.total }}
        </div>
<!--        <div class="c-table-line__item c-table-line__item_download">-->
<!--&lt;!&ndash;          <router-link :to="{ name: 'invoice', params: { company_id: $route.params.id } }">&ndash;&gt;-->
<!--&lt;!&ndash;            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--&lt;!&ndash;              <path d="M11.329 6.57709L10.169 5.41711C10.0088 5.25691 9.74922 5.25691 9.58902 5.41711L8.20312 6.803V1.16016C8.20312 0.933449 8.01968 0.75 7.79297 0.75H6.15234C5.92564 0.75 5.74219 0.933449 5.74219 1.16016V6.803L4.35632 5.41711C4.19612 5.25691 3.93654 5.25691 3.77634 5.41711L2.61636 6.57709C2.45615 6.7373 2.45615 6.99687 2.61636 7.15708L6.68268 11.2234C6.84288 11.3836 7.10243 11.3836 7.26264 11.2234L11.329 7.15708C11.4892 6.99687 11.4892 6.7373 11.329 6.57709Z" fill="#2E51AA"/>&ndash;&gt;-->
<!--&lt;!&ndash;              <path d="M13.5898 9.82812H11.9492C11.7225 9.82812 11.5391 10.0116 11.5391 10.2383V12.2891H2.46094V10.2383C2.46094 10.0116 2.27749 9.82812 2.05078 9.82812H0.410156C0.183449 9.82812 0 10.0116 0 10.2383V13.5195C0 14.198 0.551961 14.75 1.23047 14.75H12.7695C13.448 14.75 14 14.198 14 13.5195V10.2383C14 10.0116 13.8166 9.82812 13.5898 9.82812Z" fill="#2E51AA"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </svg>&ndash;&gt;-->
<!--&lt;!&ndash;          </router-link>&ndash;&gt;-->
<!--        </div>-->
        <div class="c-table-line__item c-table-line__item_status">
          <template v-if="data_line.status === 'pending'">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="path-1-inside-1" fill="white">
                <path d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z"/>
              </mask>
              <path d="M8.5 4C8.5 3.72386 8.27614 3.5 8 3.5C7.72386 3.5 7.5 3.72386 7.5 4H8.5ZM7.5 9C7.5 9.27614 7.72386 9.5 8 9.5C8.27614 9.5 8.5 9.27614 8.5 9H7.5ZM8 10.5C7.72386 10.5 7.5 10.7239 7.5 11C7.5 11.2761 7.72386 11.5 8 11.5V10.5ZM8.01 11.5C8.28614 11.5 8.51 11.2761 8.51 11C8.51 10.7239 8.28614 10.5 8.01 10.5V11.5ZM7.5 4V9H8.5V4H7.5ZM8 11.5H8.01V10.5H8V11.5ZM15 8C15 11.866 11.866 15 8 15V17C12.9706 17 17 12.9706 17 8H15ZM8 15C4.13401 15 1 11.866 1 8H-1C-1 12.9706 3.02944 17 8 17V15ZM1 8C1 4.13401 4.13401 1 8 1V-1C3.02944 -1 -1 3.02944 -1 8H1ZM8 1C11.866 1 15 4.13401 15 8H17C17 3.02944 12.9706 -1 8 -1V1Z" fill="#2E51AA" mask="url(#path-1-inside-1)"/>
            </svg>
          </template>
          <template v-else>
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8.5" cy="8.00003" r="8" fill="#2E51AA"/>
              <path d="M12.5 6.00003L7.16667 11L4.5 8.50003" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </template>
        </div>
<!--        <template v-if="isNotificationsTable">-->
<!--          <div class="c-table-line__item c-table-line__item_notification-date">-->
<!--            {{ notifications_date }}-->
<!--          </div>-->
<!--        </template>-->
      </template>
      <template v-else>
        <div class="c-table-line__item c-table-line__item_note">
          <input type="text" :placeholder="data_line.note ? data_line.note : `Notitie`" ref="note" :name="`${data_line.date}-note`" class="c-table-line__input-note">
          <button class="c-table-line__btn" @click="edit_line">
            <template v-if="isEditing">
              <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.0894 1L4.42269 8L1.08936 4.5" stroke="#2E51AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </template>
            <template v-else>
              <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.15756 0L11.3577 2.20201L9.68069 3.88031L7.48058 1.6783L9.15756 0Z" fill="#91A5B3"/>
                <path d="M0.357666 8.79822V11H2.55763L8.64345 4.91794L6.44349 2.71615L0.357666 8.79822Z" fill="#91A5B3"/>
              </svg>
            </template>
          </button>
        </div>
      </template>
    </div>
    <template v-if="isApproveModuleOpen">
      <div class="c-table-line__change-wrap">
        <h3 class="c-table-line__change-title">
          Uren / kilometers toegevoegd
        </h3>
        <ul class="c-table-line__change-list">
          <li v-for="changed_shift in after_change.shifts" :key="changed_shift.shift_id" class="c-table-line__change-itm">
            <span class="c-table-line__change-time">
              {{ changed_shift.time }}
            </span>
          </li>
          <li class="c-table-line__change-itm c-table-line__change-itm_total-time">
            <span class="c-table-line__change-time">
              {{ data_line.total_time || '00:00' }}
            </span>
          </li>
          <li class="c-table-line__change-itm c-table-line__change-itm_distance">
            <span class="c-table-line__change-time">
              {{ after_change.distance }}km
            </span>
          </li>
          <li class="c-table-line__change-itm c-table-line__change-itm_total">
            <span class="c-table-line__change-time">
              €{{ after_change.total }}
            </span>
          </li>
        </ul>
        <h3 class="c-table-line__change-title">
          Notitie
        </h3>
        <div class="c-table-line__change-note">
          <span class="c-table-line__change-note-text">
            {{ after_change.note || 'Empty test line' }}
          </span>
        </div>
        <div class="c-table-line__change-btns">
          <button class="c-table-line__change-btn c-table-line__change-btn_reject" @click="change_approve_status(false)">
            <span>
              Afwijzen
            </span>
          </button>
          <button class="c-table-line__change-btn c-table-line__change-btn_approve" @click="change_approve_status(true)">
            <span>
              Aanvaarden
            </span>
          </button>
        </div>
      </div>
    </template>
  </form>
</template>

<script>
  import Api from "../../service/Api";

  export default {
    name: "BaseTableLine",
    props: {
      isManager: {
        type: Boolean,
        default: false
      },
      isNotificationsTable: {
        type: Boolean,
        default: false
      },
      data_line: {
        type: Object,
        required: true,
      },
      is_analytics: Boolean
    },
    data() {
      return {
        isEditing: false,
        isApproveModuleOpen: false,
        isApprove: null
      }
    },
    methods: {
      setCursorPosition(pos, elem) {
        elem.focus()
        if (elem.setSelectionRange) {
          elem.setSelectionRange(pos, pos);
        } else if (elem.createTextRange) {
          var range = elem.createTextRange();
              range.collapse(true);
              range.moveEnd("character", pos);
              range.moveStart("caracter", pos);
              range.select()
        }
      },
      inputFocus($event) {
        const target = $event.target;
        target.value = '__:__';
        this.setCursorPosition(0, target)
      },
      inputBlur($event) {
        const target = $event.target;
        if(target.value.includes('_')) {
          target.classList.add('error');
          setTimeout(() => {
            target.classList.remove('error');
          }, 2000)
        }

      },
      inputChange($event) {
        const target = $event.target;
        var matrix = '__:__',
          i = 0,
          def = matrix.replace(/\D/g, ""),
          val = target.value.replace(/\D/g, "");
        def.length >= val.length && (val = def);
        matrix = matrix.replace(/[_\d]/g, function (a) {
          return val.charAt(i++) || "_"
        });
        target.value = matrix;
        i = matrix.lastIndexOf(val.substr(-1));
        i < matrix.length && matrix != target.defaultValue ? i++ : i = matrix.indexOf("_");
        this.setCursorPosition(i, target)
      },
      edit_line() {
        this.isEditing = !this.isEditing;
      },
      change_approve_status(status) {
        this.isApprove = status
      },
      onSubmit() {
        if(!this.isEditing && !this.isNotificationsTable) {
          const company = this.$store.getters['user/user_companies'].find(el => el.id === this.$route.params.id)
          const SendingData = {
            date: this.data_line.date,
            distance: this.data_line.distance,
            formatted_date: this.data_line.formatted_date,
            shifts: [],
            note: this.$refs.note.value,
            company: this.$route.params.id,
          }
          for(let itm of this.$refs.line_form.elements) {
            if(itm.name) {

              if(itm.name.includes("shift")) {
                if(itm.value.includes("_")) {
                  itm.classList.add('error')
                  setTimeout(() => {
                    itm.classList.remove('error');
                  }, 2000)
                  return
                }
                SendingData.shifts.push({
                  shift_id: itm.name.replace(/[^0-9]/gim,''),
                  time: itm.value.trim().length > 0 ? itm.value : itm.placeholder
                })
              }

            }
          }
          Api.request_to_change_shifts(SendingData).then((res) => {
            console.log(res)
          })
          .catch(({ response }) => {
            console.log(response)
          })
        }
        else if (this.isNotificationsTable && this.isApproveModuleOpen) {
          this.isApproveModuleOpen = false
          Api.manager_update_request_changes({ id: this.data_line.id, status: this.isApprove })
            .then(() => {
              this.$store.dispatch('manager/delete_notification', this.data_line.id)
            })
            // .catch(({ response }) => {
            //
            // })
          // console.log()
        }
      },
      managerApprove() {
        if(this.isNotificationsTable) {
          this.isApproveModuleOpen = !this.isApproveModuleOpen
        }
      }
    },
    computed: {
      distance_val() {
        if(this.data_line.before_change) {
          return this.data_line.before_change.distance
        }
        return this.data_line.distance
      },
      user_full_name() {
        if(this.data_line.name || this.data_line.user_name) {
          const number = window.innerWidth > 1360 ? 7 : 5;
          const user_full_name = this.data_line.name ? `${this.data_line.name} ${this.data_line.surname}` : this.data_line.user_name;
          if(user_full_name.length > number) {
            return user_full_name.slice(0,number) + '...'
          } else {
            return user_full_name
          }
        }
        return ''
      },
      company_name() {
        if(this.data_line.company || this.data_line.company_name) {
          const number = window.innerWidth > 1360 ? 4 : 4;
          const company_name = this.data_line.company ? this.data_line.company : this.data_line.company_name;
          if(company_name.length > number) {
            return company_name.slice(0,number) + '...'
          } else {
            return company_name
          }
        }
        return ''
      },
      notifications_date() {
        return this.data_line.date.split('-').join('/');
      },
      line_classes() {
        return {
          'is-editing': this.isEditing,
          'manager-line': this.isManager,
          'worker-line': !this.isManager,
          'notifications-line': this.isNotificationsTable,
          'is-open-approve-mode': this.isApproveModuleOpen
        }
      },
      shifts_list() {
        return this.isNotificationsTable ? this.data_line.before_change.shifts : this.data_line.shifts
      },
      after_change() {
        return this.isNotificationsTable ? this.data_line.after_change : {  }
      }
      // shift_position() {
      //   return `grid-column-start: 2; grid-column-end: ${this.data_line.shifts.length};`;
      // },
      // grid_line() {
      //   return this.isManager ? `grid-template-columns: 1fr 1fr repeat(${this.data_line.shifts.length}, 1fr) repeat(5, 1fr);` :
      // }
    },
    // created() {
    //   console.log(this.data_line)
    // }
  }
</script>

<style lang="scss">
.c-table-line {
  &__wrapper {
    @extend %df;
    @extend %aic;
    padding: 10px 30px;
  }
  transition: all .5s ease;
  &:hover {
    box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.15);
  }
  &.is-editing {
    padding: 20px 0;
    box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.15);
    .c-table-line {
      &__btn {
        &:hover {
          svg {
            path {
              fill: transparent;
              stroke: $white;
            }
          }
        }
      }
    }
  }
  &.notifications-line {
    cursor: pointer;
    .c-table-line__wrapper {
      pointer-events: none;
    }
    &.is-open-approve-mode {
      cursor: default;
      box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.15);
    }
  }
  &.worker-line {
    .c-table-line {
      &__item {

      }
    }
  }
  &.manager-line {
    .c-table-line {
      &__shift {
        margin-right: 0px;
        &.analytics_time {
          margin-right: 5px;
        }
      }
      &__item {
        &_distance {
          width: 63px;
        }
      }
    }
  }
  &__shift-wrapper {
    @extend %df;
    @extend %aic;
  }
  &__shift {
    height: 30px;
  }
  &__input {
    &-time {
      @extend %input-reset;
      @extend %roman-16;
      width: 45px;
      height: 100%;
      margin-right: 20px;
      color: $black;
      &[disabled] {
        @extend %evt-none;
      }
      &.error {
        color: tomato;
      }
      &::-webkit-input-placeholder {
        color: $black;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: $black;
        opacity: 1;
      }
      &:-moz-placeholder {
        color: $black;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $black;
        opacity: 1;
      }
      &.empty {
        &::-webkit-input-placeholder {
          color: $gray;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: $gray;
          opacity: 1;
        }
        &:-moz-placeholder {
          color: $gray;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $gray;
          opacity: 1;
        }
      }
    }
    &-note {
      @extend %input-reset;
      @extend %roman-16;
      color: $black;
      line-height: 100%;
      border-radius: 30px;
      background-color: $dark_white;
      width: 100%;
      height: 30px;
      padding-left: 12px;
    }
  }
  &__item {
    width: 80px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &_notification-date{
      @extend %roman-16;
      color: $blue;
      width: auto;
    }
    &_download {
      width: 23px;
    }
    &_status {
      width: 20px;
      margin-right: 25px;
    }
    &_total-earnings {
      @extend %roman-16;
      color: $black;
    }
    &_total-hours {
      @extend %roman-16;
      color: $black;
      width: 57px;
    }
    &_user {
      @extend %roman-16;
      color: $black;
      margin-right: 38px;
      min-width: 85px;
      max-width: 85px;
    }
    &_company {
      @extend %roman-16;
      color: $black;
      min-width: 50px;
      max-width: 50px;
    }
    &_note {
      position: relative;
      min-width: 186px;
      width: 100%;
    }
    &_distance {
      width: auto;
      @extend %roman-16;
    }
    &_date {
      @extend %roman-16;
      color: $black;
      min-width: 80px;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    border-radius: 0 30px 30px 0;
    @extend %df;
    @extend %jcc;
    @extend %aic;
    svg {
      path {
        transition: all .5s ease;
      }
    }
    &:hover {
      background-color: $blue;
      svg {
        path {
          fill: white;
        }
      }
    }
  }
  &__change {
    &-wrap {
      border-top: 1px solid $dark_white;
      padding-left: 150px;
      padding-bottom: 30px;
    }
    &-title {
      @extend %medium-16;
      color: $blue;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &-list {
      @extend %df;
      @extend %aic;
    }
    &-itm {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      width: 61px;
      height: 30px;
      background-color: $dark_white;
      border-radius: 30px;
      margin-right: 5px;
      &_total-time, &_distance {
        background-color: transparent;
      }
      &_total {
        margin-right: 0;
      }
    }
    &-time {
      @extend %roman-16;
      color: $black;
    }
    &-note {
      max-width: 540px;
      padding: 7px 11px;
      background-color: $dark_white;
      border-radius: 30px;
      @extend %roman-16;
      color: $black;
    }
    &-btns {
      @extend %df;
      @extend %aic;
      justify-content: flex-end;
      max-width: 540px;
      margin-top: 15px;
    }
    &-btn {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      @extend %medium-16;
      color: $white;
      width: 148px;
      height: 40px;
      border: 2px solid $blue;
      background-color: $blue;
      transition: all .5s ease;
      border-radius: 30px;
      &_reject {
        color: $blue;
        background-color: transparent;
        margin-right: 20px;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
      &_approve {
        &:hover {
          background-color: transparent;
          color: $blue;
        }
      }
    }
  }
}
  @include bp(1360px) {
    .c-table-line {
      &__item {
        &_user {
          min-width: 95px;
          max-width: 95px;
        }
        &_company {
          min-width: 62px;
          max-width: 62px;
        }
        &_notification-date {
          display: none;
        }
      }
    }
  }
</style>
