<template>
  <div class="base-block" :class="{pd_none: is_table}">
    <h2 class="base-block__title">
      {{title}}
    </h2>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: "BaseBlockWrap",
    props: {
      title: {
        type: String
      },
      is_table: Boolean
    },
  }
</script>

<style lang="scss">
.base-block {
  background-color: $white;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0px 7px 64px rgba(51, 88, 183, 0.15);
  &.pd_none {
    padding: 15px;
  }
  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: 20px;
  }
}
@media print {
  .base-block {
    box-shadow: none;
  }
}
</style>
