<template>
  <div class="base-rate-type" :style="{ 'background-color': reate_color }" :class="`base-rate-type_${class_type == 7 ? 'icon' : class_type}`" v-tooltip="{ text: text }">
    <template v-if="!rate">
      <svg width="14" height="12" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.625 12.3077C14.81 12.3077 14.1225 12.8234 13.865 13.5385H6.135C5.87625 12.8234 5.19 12.3077 4.375 12.3077C3.34 12.3077 2.5 13.1348 2.5 14.1538C2.5 15.1729 3.34 16 4.375 16C5.19 16 5.8775 15.4843 6.135 14.7692H13.865C14.1237 15.4843 14.81 16 15.625 16C16.66 16 17.5 15.1729 17.5 14.1538C17.5 13.1348 16.66 12.3077 15.625 12.3077Z" fill="#91A5B3"/>
        <path d="M4.375 0C1.9625 0 0 1.93231 0 4.30769C0 6.51815 3.51 10.4332 3.91 10.8726C4.02875 11.0018 4.1975 11.0769 4.375 11.0769C4.5525 11.0769 4.72125 11.0018 4.84 10.8726C5.24 10.4332 8.75 6.51815 8.75 4.30769C8.75 1.93231 6.7875 0 4.375 0ZM4.375 6.15385C3.34 6.15385 2.5 5.32677 2.5 4.30769C2.5 3.28862 3.34 2.46154 4.375 2.46154C5.41 2.46154 6.25 3.28862 6.25 4.30769C6.25 5.32677 5.41 6.15385 4.375 6.15385Z" fill="#91A5B3"/>
        <path d="M15.625 0C13.2125 0 11.25 1.93231 11.25 4.30769C11.25 6.51815 14.76 10.4332 15.16 10.8726C15.2788 11.0018 15.4475 11.0769 15.625 11.0769C15.8025 11.0769 15.9712 11.0018 16.09 10.8726C16.49 10.4332 20 6.51815 20 4.30769C20 1.93231 18.0375 0 15.625 0ZM15.625 6.15385C14.59 6.15385 13.75 5.32677 13.75 4.30769C13.75 3.28862 14.59 2.46154 15.625 2.46154C16.66 2.46154 17.5 3.28862 17.5 4.30769C17.5 5.32677 16.66 6.15385 15.625 6.15385Z" fill="#91A5B3"/>
      </svg>
    </template>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: "BaseRateType",
    props: {
      id: {
        type: Number
      },
      tooltip: {
        type: Boolean
      }
    },
    computed: {
      ...mapGetters(['rate_types']),
      rate() {
        return this.rate_types.find(rate_type => rate_type.id === this.id)
      },
      text() {
        return this.rate && this.tooltip ? this.rate_text : null
      },
      rate_text() {
        return `${this.rate.name} ${this.rate.time.from} - ${this.rate.time.to}`
      },
      reate_color() {
        return this.rate.color
      },
      class_type() {
        return this.rate ? this.rate.type : 7
      }
    },
  }
</script>

<style lang="scss">
.base-rate-type {
  width: 10.21px;
  height: 10.21px;
  border-radius: 50%;
  &_1 {
    background-color: $filter_1;
  }
  &_2 {
    background-color: $filter_2;
  }
  &_3 {
    background-color: $filter_3;
  }
  &_4 {
    background-color: $filter_4;
  }
  &_5 {
    background-color: $filter_5;
  }
  &_6 {
    background-color: $filter_6;
  }
}
</style>