<template>
  <div class="v-index-load" :class="{ active: loading }">
    <div class="v-index-load__logo">
      <img src="https://zzp.zorgkoppeling.nl/themes/demo/assets/crm/img/Zorgkoppeling-logo-310w.jpg" alt="Logotype">
    </div>
  </div>
</template>

<script>
  export default {
    name: "Loading",
    props: ['loading']
  }
</script>

<style lang="scss">
  .v-index-load {
    @extend %df;
    @extend %jcc;
    @extend %aic;
    background-color: $body_bg;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s ease;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
</style>
