<template>
<!--  <template></template>-->
  <nav class="navigation" v-if="user_info && user_companies">
    <div class="nav">
      <div class="nav__logo">
        <div class="nav__logo-link">
          <img src="https://lirp-cdn.multiscreensite.com/c55e1370/dms3rep/multi/opt/Zorgkoppeling-logo-310w.jpg" alt="Logotype">
        </div>
      </div>
      <template>
        <template v-if="isWorker">
          <div class="nav__worker">
            <h2 class="nav__menu-title">
              Bedrijven
            </h2>
            <ul class="nav__menu nav__menu_worker">
              <li class="menu-scroll">
                <ul>
                  <li v-for="company in companies" :key="company.id" class="nav__menu-item">
                    <router-link class="nav__menu-link" :to="{ name: 'WorkerDashboard', params: { id: company.id } }" >
                  <span>
                    {{ company.name }}
                  </span>
                    </router-link>
                  </li>
                </ul>
              </li>
            </ul>
            <template v-if="$route.params.id">
              <router-link :to="{ name: 'invoice', params: { company_id: $route.params.id } }" class="nav__download">
                <span>
                  Download Facturen
                </span>
              </router-link>
            </template>
          </div>
        </template>
        <template v-else>
          <div class="nav__manager">
            <ul class="nav__menu nav__menu_manager">
            <li class="nav__menu-item">
              <router-link :to="{ name: 'Notifications'}" class="nav__menu-link nav__menu-link_main nav__menu-link_notifications">
                <span>
                  Meldingen
                </span>
                <template v-if="notification_count">
                  <i>
                    {{ notification_count }}
                  </i>
                </template>
              </router-link>
            </li>
            <li class="nav__menu-item">
              <router-link :to="{ name: 'Analytics'}" class="nav__menu-link nav__menu-link_main">
                <span>
                  Werknemers
                </span>
              </router-link>
            </li>
            <li class="nav__menu-item nav__menu-item_title">
              <h2 class="nav__menu-title">
                Bedrijven
              </h2>
            </li>
            <li class="menu-scroll">
              <ul>
                <li v-for="company in companies" :key="company.id" class="nav__menu-item">
                  <router-link class="nav__menu-link" :to="{ name: 'ManagerDashboard', params: { id: company.id} }" >
                <span>
                  {{ company.name }}
                </span>
                  </router-link>
                </li>
              </ul>
            </li>
<!--            <li class="nav__menu-item">-->
<!--              <router-link :to="{ name: 'invoice'}" class="nav__menu-link nav__menu-link_main">-->
<!--                <span>-->
<!--                  Werknemer toevoegen-->
<!--                </span>-->
<!--              </router-link>-->
<!--            </li>-->
          </ul>
          </div>
        </template>
      </template>
      <div class="nav__user" :class="{ open: isSelectVisible }">
        <div class="nav__user-select" @click="openUserSelect">
         <div class="nav__user-wrapper">
           <figure class="nav__user-photo">
             <template v-if="user_photo">
               <img :src="user_photo" :alt="user_name">
             </template>
           </figure>
           <h3 class="nav__user-name">
             {{ user_name }}
           </h3>
           <svg class="nav__user-arrow" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M7 1L4 4L1 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
           </svg>
         </div>
          <ul class="nav__user-select-info" v-show="isSelectVisible">
            <li class="nav__user-select-itm">
              <button class="nav__user-logout" @click.stop="logout">
                <span>
                  Uitloggen
                </span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    name: "NavBar",
    data() {
      return {
        isSelectVisible: false
      }
    },
    computed: {
      ...mapGetters('user', ['user_role', 'user_companies', 'user_info']),
      companies() {
        return this.user_companies
      },
      isWorker() {
        return !this.user_role
      },
      user_photo() {
        return this.user_info.photo
      },
      user_name() {
        return this.user_info.name
      },
      notification_count() {
        return this.$store.getters['manager/notifications_count'];
      }
    },
    methods: {
      openUserSelect() {
        this.isSelectVisible = !this.isSelectVisible
      },
      logout() {
        this.$store.dispatch('user/logout')
          .then(() => {
            window.location = window.location.origin
          }).catch(() => {
            window.location = window.location.origin
          })
      }
    },
  }
</script>

<style lang="scss">
  .menu-scroll {
    max-height: 290px;
    overflow-y: scroll;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0 0 0;
    width: 235px;
    height: 100vh;
    background-color: $blue;
  }
  .nav {

    // .nav__logo

    &__logo {
      width: rem(50);
      div, img {
        width: inherit;
      }
    }

    // .nav__logo-link

    &__logo-link {
      @extend %df;
      padding-left: 29px;
    }

    // .nav__worker

    &__worker {
      padding-top: 35px;
    }

    // .nav__manager

    &__manager {
      padding-top: 32px;
    }

    // .nav__menu-title

    &__menu-title {
      @extend %medium-16;
      color: $white;
      padding-left: 29px;
      margin-bottom: 20px;
    }

    // .nav__menu

    &__menu {

      // .nav__menu_worker

      &_worker {
      }

      // .nav__menu_manager

      &_manager {
      }
    }

    // .nav__menu-item

    &__menu-item {
      &_title {
        margin-top: 20px;
      }
    }

    // .nav__menu-link

    &__menu-link {
      @extend %df;
      @extend %aic;
      @extend %roman-16;
      color: $white;
      width: 100%;
      height: 56px;
      padding-left: 59px;
      transition: all .5s ease;
      &.router-link-active {
        color: $blue;
        background-color: $white;
      }
      &:hover {
        background-color: $white;
        color: $blue;
      }

      // .nav__menu-link_main

      &_main {
        @extend %medium-16;
        padding-left: 30px;
      }

      // .nav__menu-link_notifications

      &_notifications {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        padding-right: 29px;
        i {
          @extend %df;
          @extend %jcc;
          @extend %aic;
          width: 20px;
          height: 20px;
          background-color: $dark_white;
          border-radius: 50%;
          font-style: inherit;
          @extend %roman-10;
          color: $blue;
          padding-top: 2px;
          margin-bottom: 5px;
        }
      }
    }

    // .nav__download

    &__download {
      @extend %df;
      @extend %aic;
      margin-top: 20px;
      padding-left: 30px;
      span {
        @extend %medium-16;
        color: $white;
      }
      i {
        @extend %dib;
        margin-right: 15px;
      }
    }

    // .nav__user

    &__user {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: all .5s ease;
      &.open {
        background-color: #284795;
        .nav__user {
          &-wrapper {
            border-bottom-color: $transparent;
          }
          &-arrow {
            transform: rotate(180deg);
          }
        }
      }
    }

    // .nav__user-select

    &__user-select {
      padding: 0 29px 0 30px;
    }

    // .nav__user-wrapper

    &__user-wrapper {
      @extend %df;
      @extend %aic;
      border-bottom: 1px solid transparent;
      padding: 20px 0 15px;
      cursor: pointer;
    }

    // .nav__user-photo

    &__user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $white;
    }

    // .nav__user-name

    &__user-name {
      @extend %medium-16;
      color: $white;
      margin-left: 15px;
    }

    // .nav__user-arrow

    &__user-arrow {
      @extend %db;
      margin-left: auto;
      transition: all .5s ease;
    }

    // .nav__user-select-info

    &__user-select-info {
    }

    // .nav__user-select-itm

    &__user-select-itm {
    }

    // .nav__user-logout

    &__user-logout {
      padding-top: 20px;
      @extend %medium-16;
      color: $white;
      padding-bottom: 20px;
    }
  }
@include bp(1360px) {
  .menu-scroll {
    max-height: 170px;
  }
}
</style>
