<template>
  <BaseBlockWrap class="c-printable-invoice-wrapper">
    <div class="c-printable-invoice">
      <div class="c-printable-invoice__header">
        <div class="c-printable-invoice__title-wrap">
          <h2 class="c-printable-invoice__title">
            Factuur
          </h2>
          <input type="text" value="#" class="c-printable-invoice__input c-printable-invoice__input-number" placeholder="#0000">
        </div>
        <figure class="c-printable-invoice__logotype">
          <img :src="invoice_data.logo" alt="">
        </figure>
      </div>
      <div class="c-printable-invoice__address-date">
        <address class="c-printable-invoice__address">
          <h3 class="c-printable-invoice__address-title">
            {{ company }}
          </h3>
          <p class="c-printable-invoice__address-text">
            {{ invoice_data.address }}
          </p>
          <ul class="c-printable-invoice__address-info">
            <li class="c-printable-invoice__address-info-item">
              <b>KvK:</b> {{ invoice_data.kvk }}
            </li>
            <li class="c-printable-invoice__address-info-item">
              <b>BTW-ID:</b> {{ invoice_data.btw_id }}
            </li>
            <li class="c-printable-invoice__address-info-item">
              <b>Bank:</b> {{ invoice_data.bank }}
            </li>
          </ul>
        </address>
        <div class="c-printable-invoice__bill">
          <h3 class="c-printable-invoice__bill-title">
<!--            Bill To:-->
          </h3>
          <div class="c-printable-invoice__bill-wrapper">
<!--            <h3 class="c-printable-invoice__bill-name">-->
<!--              {{ invoice_data.bill_name }}-->
<!--            </h3>-->
<!--            <div class="c-printable-invoice__bill-details">-->
<!--              {{ invoice_data.bill_address }}-->
<!--            </div>-->
          </div>
        </div>
        <div class="c-printable-invoice__details">
          <div class="c-printable-invoice__details-wrap">
            <h3 class="c-printable-invoice__details-title">
              Omschrijving
            </h3>
            <input type="text" class="c-printable-invoice__input c-printable-invoice__input-details" placeholder="Hier invullen.." >
          </div>
          <div class="c-printable-invoice__details-wrap">
            <h3 class="c-printable-invoice__details-title">
              Factuurdatum
            </h3>
            <date-picker class="date-pick__invoice" @change="updateDate"
                         type="month"
                         v-model="choiceDate"
                         :lang="lang"
                         format="DD MMMM YYYY" placeholder="Select date"></date-picker>
          </div>
          <div class="c-printable-invoice__details-wrap">
            <h3 class="c-printable-invoice__details-title">
              Factuur einddatum
            </h3>
            <input type="text" readonly class="c-printable-invoice__input c-printable-invoice__input-details" placeholder="Hier invullen.." :value="end_date">
          </div>
        </div>
      </div>
      <ul class="c-printable-invoice__main-info">
        <li class="c-printable-invoice__table-header table-grid">
          <div class="c-printable-invoice__table-header-itm">
            Omschrijving
          </div>
          <div class="c-printable-invoice__table-header-itm">
            Aantal
          </div>
          <div class="c-printable-invoice__table-header-itm">
            Tarief
          </div>
          <div class="c-printable-invoice__table-header-itm">
            Totaal EX BTW
          </div>
          <div class="c-printable-invoice__table-header-itm">
            BTW%
          </div>
          <div class="c-printable-invoice__table-header-itm">
            VAT
          </div>
          <div class="c-printable-invoice__table-header-itm">
            Total Incl. VAT
          </div>
        </li>
        <li class="c-printable-invoice__table-column table-grid" v-for="row in invoice_data.table_rows" :key="row.id">
          <div class="c-printable-invoice__table-column-itm">
            {{ row.description }}
          </div>
          <div class="c-printable-invoice__table-column-itm">
            {{ row.aantal }}
          </div>
          <div class="c-printable-invoice__table-column-itm">
            € {{ row.tarief.toFixed(2) }}
          </div>
          <div class="c-printable-invoice__table-column-itm">
            € {{ row.ex_btw.toFixed(2) }}
          </div>
          <div class="c-printable-invoice__table-column-itm">
            {{ row.btw }}%
          </div>
          <div class="c-printable-invoice__table-column-itm">
            € {{ row.vat.toFixed(2) }}
          </div>
          <div class="c-printable-invoice__table-column-itm">
            € {{ row.total.toFixed(2) }}
          </div>
        </li>
        <li class="c-printable-invoice__table-total table-grid">
          <div class="c-printable-invoice__table-total-title">
            Total:
          </div>
          <div class="c-printable-invoice__table-total-title">
<!--            {{ 'aantal' | total_value(invoice_data) }}-->
          </div>
          <div class="c-printable-invoice__table-total-title">
          </div>
          <div class="c-printable-invoice__table-total-title">
            € {{ 'ex_btw' | total_value(invoice_data) }}
          </div>
          <div class="c-printable-invoice__table-total-title">
          </div>
          <div class="c-printable-invoice__table-total-title">
          </div>
          <div class="c-printable-invoice__table-total-title">
            € {{ 'total' | total_value(invoice_data) }}
          </div>
        </li>
      </ul>
      <div class="c-printable-invoice__company-info">
        <h3 class="c-printable-invoice__company-title">
          {{ invoice_data.bill_name }}
        </h3>
        <div class="c-printable-invoice__company-address">
          {{ invoice_data.bill_details }}
        </div>
      </div>
    </div>
  </BaseBlockWrap>
</template>

<script>
  import BaseBlockWrap from "./Base/BaseBlockWrap";
  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
  import moment from "moment";
  import store from "../store";


  import {mapGetters} from 'vuex';
  export default {
    name: "PrintableInvoice",
    components: {BaseBlockWrap, DatePicker},
    props: {
      invoice_data: {
        type: Object,
        default: () => {}
      },
    },
    methods: {
      updateDate() {
        const added_amount = store.getters['user/user_role'] ? 14 : 1;
        const added_type = store.getters['user/user_role'] ? 'days' : 'M';
        const endDate = moment(this.choiceDate, 'DD MMMM YYYY').add(added_amount, added_type);
        this.end_date = endDate.format('DD MMMM YYYY')
        const date_for_other_datepicker =
          moment(this.choiceDate, 'DD MMMM YYYY').format('DD/MM/YY');
        const something = endDate.format('DD/MM/YY');
        this.$emit('input', `${date_for_other_datepicker} - ${something}`)
      }
    },
    data() {
      let date = new Date();
      return {
        choiceDate: new Date(date.getFullYear(), date.getMonth(), 1),
        end_date: null,
        default_date: null,
        company: null,
        lang: {
          formatLocale: {
            months: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December'],
            monthsShort: ['JAN', 'FEB', 'MAA', 'APR', 'MEI', 'JUN', 'JUL', 'AUG', 'SEP', 'OKT', 'NOV', 'DEC']
          }
        }
      }
    },
    created() {
      moment.locale('nl-be')
      const added_amount = store.getters['user/user_role'] ? 14 : 1;
      const added_type = store.getters['user/user_role'] ? 'days' : 'M';
      // this.choiceDate = new Date(date.getFullYear(), date.getMonth(), 1);
      const current = moment().startOf('month').format('DD MMMM YYYY');
      const nexDate = moment(current, 'DD MMMM YYYY').add(added_amount, added_type);
      this.end_date = nexDate.format('DD MMMM YYYY');
    },
    mounted() {
      const company_id = this.$route.params.company_id;
      this.user_companies.forEach(el => {
        if(el.id === company_id) {
          this.company = el.name;
        }
      });
      document.body.classList.add('invoice')
    },
    destroyed() {
      document.body.classList.remove('invoice')
    },
    computed: {
      ...mapGetters('user', ['user_companies']),
    },
    filters: {
      total_value(value, invoice_data) {
        let result = 0;
        invoice_data.table_rows.forEach(row => result += +row[value])
        return result.toFixed(2);
      }
    }
  }
</script>

<style lang="scss">
  .invoice {
    .mx-datepicker-main {
      top: 462px !important;
      left: 750px !important;
    }
  }
.table-grid {
  display: grid;
  grid-template-columns: rem(178) rem(96) rem(73) rem(105) rem(73) rem(76) rem(91);
  border-bottom: 1px solid $dark_white;
}
.c-printable-invoice {
  position: relative;
  &-wrapper {
    padding: rem(15);
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(10);
  }
  &__title {
    @extend %medium-36;
    color: $black;
    margin-right: rem(8);
    &-wrap {
      display: flex;
      align-items: center;
    }
  }
  &__input, .date-pick__invoice .mx-input-wrapper .mx-input {
    @extend %input-reset;
    @extend %invoice-body;
    color: $black;
    border-radius: 30px;
    height: rem(40);
    background-color: $dark_white;
    padding-left: 14px;
    box-shadow: none;
    &-number {
      width: rem(106);
    }
    &-details {
      width: rem(215);
      text-transform: capitalize;
    }
  }
  &__logotype {
    width: 134px;
    height: 134px;
    img {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }
  &__address-date {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: rem(48);
  }
  &__address {
    font-style: normal;
    &-title {
      @extend %invoice-input-titles;
      color: $black;
    }
    &-text {
      @extend %invoice-body;
      color: $black;
      max-width: rem(213);
      margin-top: rem(6);
      margin-bottom: rem(16);
    }
    &-info {
      &-item {
        @extend %invoice-body;
        color: $black;
        b {
          @extend %invoice-input-titles;
        }
      }
    }
  }
  &__bill {
    max-width: rem(213);
    margin-top: rem(83);
    &-title {
      @extend %medium-18;
      color: $blue;
    }
    &-name {
      @extend %invoice-input-titles;
      color: $black;
      margin-top: rem(24);
      margin-bottom: rem(6);
    }
    &-details {
      @extend %invoice-body;
      color: $black;
    }
  }
  &__details {
    &-wrap {
      margin-bottom: rem(16);
    }
    &-title {
      @extend %invoice-input-titles;
      color: $blue;
      margin-bottom: rem(6);
    }
  }
  &__table {
    &-header {
      padding-bottom: 12px;
      &-itm {
        @extend %invoice-table;
        color: $black;
      }
    }
    &-column {
      padding: rem(12) 0;
      &-itm {
        @extend %invoice-table-body;
        color: $black;
        padding-right: rem(10);
      }
    }
    &-total {
      padding: rem(12) 0;
      &-title {
        @extend %invoice-input-titles;
        color: $blue;
      }
    }
  }
  &__company {
    &-info {
      margin-top: rem(23);
      max-width: rem(453);
    }
    &-title {
      @extend %invoice-input-titles;
      margin-bottom: rem(6);
      color: $black;
    }
    &-address {
      @extend %invoice-body;
      color: $black
    }
  }
}
.date-pick__invoice {
  .mx-icon-calendar, .mx-icon-clear {
    display: none
  }
}
@media print {
  @page { margin: 0; }
  body  { margin: 1.6cm; }
  .c-printable-invoice {
    &__input, .date-pick__invoice .mx-input-wrapper .mx-input {
      padding-left: 0;
      height: auto;
    }
    &__logotype {
      width: 80px;
      height: 80px;
    }
    &__table {
      &-column, &-total {
        padding: rem(8) 0;
      }
    }
  }

}
</style>
