<template>
  <component class="App" :is="layout">
<!--    <select @change="change_role" v-model="selected_role">-->
<!--      <option value="worker">Worker</option>-->
<!--      <option value="manager">Manager</option>-->
<!--    </select>-->
    <router-view :key="$route.fullPath"/>
    <Loading :loading="$store.getters.loading" />
  </component>
</template>

<script>
  import { mapGetters } from 'vuex';
  import DefaultLayout from "./components/Layouts/DefaultLayout";
  // import Api from './service/Api.js'
  import EmptyLayout from "./components/Layouts/EmptyLayout";
  import Loading from "./components/Loading";

  export default {
    components: {Loading, EmptyLayout, DefaultLayout},
    data() {
      return {
        selected_role: 'manager'
      }
    },
    computed: {
      ...mapGetters('user', ['user_role', 'user_companies']),
      layout() {
        const { meta } = this.$route;
        const layout = meta.layout || "Default";

        return `${layout}Layout`;
      },

    },
    methods: {
      change_role() {
        this.$store.dispatch('change_role', this.selected_role)
        const DashboardView = this.selected_role == 'worker' ? 'WorkerDashboard' : 'ManagerDashboard';
        this.$router.push({ name: DashboardView, params: { id: this.user_companies[1].id } })
      }
    },
    created() {
      // Api.get_user()
      // const DashboardView = this.user_role == 'worker' ? 'WorkerDashboard' : 'ManagerDashboard';
      // this.$router.push({ name: DashboardView, params: { id: this.user_companies[0].id } })
    }
  }
</script>

<style lang="scss">
  select {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .App {
    background-color: $dark_white;
  }
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

/*#nav {*/
/*  padding: 30px;*/

/*  a {*/
/*    font-weight: bold;*/
/*    color: #2c3e50;*/

/*    &.router-link-exact-active {*/
/*      color: #42b983;*/
/*    }*/
/*  }*/
/*}*/
</style>
