%base-circle {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $dark_white;
  transition: all .5s ease;
  color: $black;
}