%base-input {
  @extend %db;
  width: 350px;
  label {
    @extend %df;
    @extend %medium-16;
    color: $blue;
    margin-bottom: 10px;
  }
  input {
    @extend %df;
    @extend %roman-16;
    @extend %input-reset;
    background-color: $white;
    padding-left: 20px;
    border-radius: 30px;
    width: 100%;
    height: 40px;
  }
}
%base-radio {
  position: relative;
  margin-right: 30px;
  label {
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;
      &:checked + svg {
        opacity: 1;
      }
    }
    svg {
      position: absolute;
      opacity: 0;
      top: 50%;
      transform: translateY(-60%);
      left: 7px;
      z-index: 2;
    }
    span {
      @extend %db;
      @extend %roman-16;
      color: $black;
      position: relative;
      padding: 0 0 0 39px;
      cursor: pointer;
      &:before {
        position: absolute;
        @extend %db;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-60%);
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background-color: $white;
      }
    }
  }
}