//---------------------------------------------fonts
$font_path: "~@/assets/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~@/assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$gray: #91A5B3;
$dark_white: #F1F5F8;
$numbers: #64717A;
$filter_1: #FF8888;
$filter_2: #FDCD79;
$filter_3: #B6D884;
$filter_4: #80C6D5;
$filter_5: #88A3E9;
$filter_6: #B28ECE;
$blue: #2E51AA;
$transparent: rgba(241, 245, 248, 0.2);






$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
